<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title" style="margin-bottom: 20px;">Unsettled Reimbursement</h1>
      <form (ngSubmit)="getFilterData()" enctype="multipart/form-data">
        <div class="row" [formGroup]="filterdataform">
          <div class="col-md-12">
            <div class="col-md-12">
              <label class="filter-label">Add Filter</label>
              <div class="lo-btn">
                <select formControlName="filtermonth" class="form-control select2 building-select d-inline" [(ngModel)]="unsettled_filter.selectedmonth" style="width: 100%;"  required>
                <option *ngFor="let b of monthArray" value="{{b.id}}" >{{b.name}}</option>
                </select>
              </div>
              <div class="lo-btn">
                <select formControlName="filteryear" class="form-control select2 building-select d-inline" [(ngModel)]="unsettled_filter.selectedyear" style="width: 100%;"  required>
                <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
                </select>
              </div>
              <button type="submit" class="btn bg-orange btn-flat btn-apply">Apply</button>
              <div class="lo-btn" style="margin-left:165px;">
                <!-- <input type="file" class="hidden" id="files" formControlName="csvfilehidden" (change)="" accept=".csv"> -->
              </div>
              <button type="button" class="btn btn-warning" (click)="exportmodal(exportcsvmodal)">Export All</button>
              <button type="button" class="btn btn-default" style="margin-left:5px;color: #3449b0;" (click)="importcsvmodal(uploadcsvmodal)">Import CSV</button>
              <!-- <label style="margin-left:5px;background: white;padding: 7px;font-size: 14px;color: #3449b0;font-weight: 400;" >Import Data</label> -->
            </div>
          </div>
        </div>
      </form>
    </section>
    <section class="content">
      <div class="box-body">
        <div>
          <table id="unsettledDataTables" datatable [dtOptions]="unsettledTableOptions" [dtTrigger]="unsettledTableTrigger" class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>User</th>
              <th>Unsettled Reimbursement Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of unsettle_api_data">
              <td>{{s.user_name}}</td>
              <td><a style="cursor: pointer;" (click)="userunsettledList(usersunsettledlistModal,s)">{{s.reimbursements_count}}</a></td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
<ng-template #usersunsettledlistModal>
  <div class="modal-content modal-width">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Unsettled Reimbursement</h4>
    </div>
    <section content="modal-body">
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover" >
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Month/Year</th>
                <th>Category</th>
                <th>Date</th>
                <th>Purpose</th>
                <th>Manager Comment</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ur of single_user_unsettled_data">
                <td>{{ur.id}}</td>
                <td>{{ur.user_name}}</td>
                <td>{{ur.display_month_year}}</td>
                <td>{{ur.category_name}}</td>
                <td>{{ur.display_date}}</td>
                <td>{{ur.purpose}}</td>
                <td><span [innerHTML]="ur.review_reason | safeHtml"></span></td>
                <td>{{ur.amount}}</td>
                <td>
                  <img src="assets/images/eye.png" style="height:12px !important;width:20px !important;cursor: pointer;" (click)="singleusersingleunsettleddata(singleusersingleunsettleddatamodal,ur)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <ngx-loading [show]="singleuserloading" ></ngx-loading>
  </div>
</ng-template>
<ng-template #singleusersingleunsettleddatamodal>
  <div class="modal-content" >
    <form>
      <div class="modal-header ticket-popup-header">
        <h4 class="modal-title pull-left">Claim Details</h4>
        <a><span class="fa fa-times pull-right" style="color: white;cursor:pointer;" (click)="closesingleusersingledatamodal()"></span></a>
      </div>
      <div class="modal-header" style="background-color:#f5f6fb;padding-bottom: 0px;">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Name</label><br>
            <span>{{single_user_single_unsettled_data.user_name}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Employee Code</label><br>
            <span>{{single_user_single_unsettled_data.employee_number}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Department</label><br>
            <span>{{single_user_single_unsettled_data.department_name}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Manager Name</label><br>
            <span>{{single_user_single_unsettled_data.manager_name}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Month</label><br>
            <span>{{splitmonthyear[0]}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Year</label><br>
            <span>{{splitmonthyear[1]}}</span>
          </div>
        </div>
      </div>
      <div class="modal-body" style="margin-top:-10px;">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Category</label><br>
            <span>{{single_user_single_unsettled_data.category_name}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4" *ngIf="ola_uber_show">
            <label>Expense For</label><br>
            <span>{{single_user_single_unsettled_data.data.expense_for}}</span>
          </div>
          <div class="form-group col-md-4" *ngIf="clientnameshow">
            <label>Client Name</label><br>
            <span>{{single_user_single_unsettled_data.data.client_name}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4" *ngIf="hotelshow">
            <label>Hotel Name</label><br>
            <span>{{single_user_single_unsettled_data.data.hotel_name}}</span>
          </div>
          <div class="form-group col-md-4" *ngIf="fromtoshow">
            <label>From</label><br>
            <span>{{single_user_single_unsettled_data.data.from}}</span>
          </div>
          <div class="form-group col-md-4" *ngIf="fromtoshow">
            <label>To</label><br>
            <span>{{single_user_single_unsettled_data.data.to}}</span>
          </div>
        </div>
        <div class="form-row" *ngIf="petrolshow">
          <div class="form-group col-md-4">
            <label>Vehcile Type</label><br>
            <span>{{single_user_single_unsettled_data.data.vehicle_type}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Kilometer</label><br>
            <span>{{single_user_single_unsettled_data.data.km}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4" *ngIf="!fromtoshow">
            <label>Applied Date</label><br>
            <span>{{single_user_single_unsettled_data.display_date}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Amount</label><br>
            <span>{{single_user_single_unsettled_data.amount}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Purpose</label><br>
            <span>{{single_user_single_unsettled_data.purpose}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Manager Comment</label><br>
            <span [innerHTML]="single_user_single_unsettled_data.review_reason | safeHtml"></span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Attached Bill:</label>&nbsp;
            <a href="{{single_user_single_unsettled_data.receipt_path}}" target='_blank' class="btn btn-primary" *ngIf="!attachedbill">View File</a>
            <span *ngIf="attachedbill">No File Attached</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <button type="button" class="btn btn-warning" (click)="closesingleusersingledatamodal()">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #error_modal_of_import_csv_file>
  <div class="modal-header" style="background-color:#d9534f;color:#fff;border-top-right-radius:inherit;border-top-left-radius:inherit;">
    <div>
      <div class="col-md-1">
        <img src="assets/images/Group 323.png" style="padding-top: 15px">
      </div>
      <div class="col-md-11">
        <h4>Opps Some Went Wrong!</h4>
        <h5>These are the errors in the file ,please correct them and reupload the file.</h5>
      </div>
    </div>
  </div>
  <section content="modal-body">
    <div class="box-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover" >
          <tbody>
            <tr style="background-color: #28a745;color:#fff;">
              <td>Success Count</td>
              <td>{{importedData.success_messages.length}}</td>
            </tr>
            <tr style="background-color:#d9534f;color:#fff;">
              <td>Error Count</td>
              <td>{{importedData.error_messages.length}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary" style="margin-left: 170px;" (click)="export_error_csv()">Export Error CSV</button>&nbsp;
      <button type="button" class="btn btn-warning" (click)="close_error_modal()">Close</button>
    </div>
  </section>
</ng-template>
<ng-template #uploadcsvmodal>
  <div class="modal-header ticket-popup-header">
    <h4 class="modal-title pull-left">Upload CSV File</h4>
    <a><span class="fa fa-times pull-right" style="color: white;cursor:pointer;" (click)="closeimportcsvmodal()"></span></a>
  </div>
  <section content="modal-body">
    <div class="wapper-modalCSV">
      <div class="row">
        <div class="col-md-12">
          <h4>Make sure that you are uploading file for following:</h4>
          <ul class="list-inline">
            <li>Month: <b>{{currentmomentmonth}}</b></li>
            <li>Year: <b>{{year}}</b></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <form [formGroup]="uploadcsvdataform">
          <div class="form-group col-md-12">
            <input type="file" accept=".csv" formControlName="csvfile" id="files" (change)=checkIfFilePresent()>
          </div>
          <div class="form-group col-md-12">
            <button (click)="importCsv()" [disabled]="!isFilePresent" [ladda]="isLoading" class="btn btn-warning fc-center">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #exportcsvmodal>
  <div class="modal-header ticket-popup-header">
    <h4 class="modal-title pull-left">Export CSV</h4>
    <a><span class="fa fa-times pull-right" style="color: white;cursor:pointer;" (click)="closeexportmodal()"></span></a>
  </div>
  <section content="modal-body">
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <h4><b>Instruction need to follow before importing CSV</b></h4>
          <ul>
            <li><span style="color: #c62b34;"><b style="font-weight:500!important;">Please Type "Y" if you want to settle the claim, to reject type "N" in the last column. Leave blank if wish to keep it unsettled.</b></span></li>
            <li>Don't change the excel file name.</li>
            <li>Click on the link in the 'Attachment' column to view the bill provided by the employee.</li>
            <li>After your changes, please upload this sheet, using 'Uplaod Excel' button on your dasboard.</li>
          </ul>
        </div>
        <div style="padding-left: 250px;">
          <button type="button" class="btn btn-warning" [ladda]="isLoading" (click)="exportAllUserToCSV()">Export All</button>
        </div>
      </div>
    </div>
  </section>
</ng-template>