<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title">All Leaves</h1>
      <form (ngSubmit)="validateAllLeavesForm()" [formGroup]="allLeavesForm" autocomplete="off" novalidate="off">
      <div class="holder-filter" id="collapseBasic" [collapse]="isCollapsed">
        <div class="col-md-12" >
          <label class="filter-label">Add Filter</label>
          <div class="lo-btn">
            <input name="bnknm" type='text' class="form-control d-inline lo-btn" [(ngModel)]="allLeavesData.start_date" formControlName="start_date" required [class.error1]="!allLeavesForm.controls.start_date.valid && allLeavesForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date"  style="width: 100%" />
            <owl-date-time  [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
            <div *ngIf="( allLeavesForm.get('start_date').hasError('minlength') || allLeavesForm.get('start_date').hasError('pattern') || allLeavesForm.get('start_date').hasError('required') ) && allLeavesForm.get('start_date').touched">
              <div class="error" *ngIf="(allLeavesForm.get('start_date').hasError('required') && allLeavesForm.get('start_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
          <div class="lo-btn">
            <input name="endDate" type='text' class="form-control d-inline " [(ngModel)]="allLeavesData.end_date" formControlName="end_date" required [class.error1]="!allLeavesForm.controls.end_date.valid && allLeavesForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date"  style="width: 100%" />
            <owl-date-time  [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
            <div *ngIf="( allLeavesForm.get('end_date').hasError('minlength') || allLeavesForm.get('end_date').hasError('pattern') || allLeavesForm.get('end_date').hasError('required') ) && allLeavesForm.get('end_date').touched">
              <div class="error" *ngIf="(allLeavesForm.get('end_date').hasError('required') && allLeavesForm.get('end_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
          <button type="submit" class="btn bg-orange btn-flat btn-apply " [disabled]="allLeavesForm.invalid">
            Apply
          </button>
        </div>
        </div>
      </form>
    </section>
    <section class="content">
      <div class="box-body">
        <table class="table table-striped table-hover" datatable [dtOptions]="lateMarkTableOptions"  [dtTrigger]="lateMarkTableTableTrigger">
        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Type</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Approval Date</th>
            <th>Action Taken By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of leavesData">
            <td>{{l.start_date | date: 'dd/MM/yyyy'}}</td>
            <td>{{l.end_date | date: 'dd/MM/yyyy'}}</td>
            <td>{{l.leave_type}}</td>
            <td>{{l.reason}}</td>
            <td>{{l.status}}</td>
            <td>{{l.approved_on | date: 'dd/MM/yyyy' | nullData}}</td>
            <td>{{l.reviewer_name | nullData}}</td>
          </tr>
        </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
