
<div class="modal-header" style="background-color:#344AB1;color: whitesmoke;">
    <h4 class="modal-title pull-left" >View Ticket</h4>
    <button type="button" style="color: white;" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body" >
      <div class="ticket-details col-md-12">
          <div class="row">
            <div class="col-md-8 pull-left">
            <label> Ticket#:&nbsp;&nbsp;</label> 
            <span>{{ticket.id | nullData}}</span>
            </div>
            <div class="col-md-4 pull-right">
              <label>Category:&nbsp;&nbsp;</label>
              <span>{{ticket.category | nullData}}</span>
            </div>
          </div>
          <br/>
          <div class="row">
          <div class="col-md-6 pull-left">
              <label>Attachment:&nbsp;&nbsp;</label>
              <button *ngIf="ticket.attachments" type="submit" tooltip="View" placement="top" show-delay="500" class="btn bg-orange"  (click)="viewAttachment(ticket.attachments)">View</button>
              <span   *ngIf="!ticket.attachments" >-</span>
           </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-md-6 pull-left">
                  <label>Comments:&nbsp;&nbsp;</label>
                  <span>{{ticket.comments | nullData}}</span>
              </div>
           </div>
          
      </div>
      <br/><br/>
      <div class="ticket-details col-md-12">
          <div class="row">
            <div class="col-md-8 pull-left">
            <label> Next Action Date:&nbsp;&nbsp;</label> 
            <span>{{ticket.date | nullData}}</span>
            </div>
           </div>
          <br/>
        <div class="row">
         <div class="col-md-6 pull-left">
            <label>Resolution:&nbsp;&nbsp;</label>
              <span>{{ticket.resolution | nullData}}</span>
          </div>
        </div>
        </div>
  
  
  <div class="modal-footer" style="text-align: center; background-color: whitesmoke;">
         
          <a role="button" class="btn btn-warning" (click)="closeModal()" >Cancel</a>
        </div>
   
  
  