<div class="wrapper">
  <div class="content-wrapper">
   <!-- <ol class="breadcrumb">
    <li><a [routerLink]="['/home/dashboard']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
    <li class="active">Salary</li>
  </ol> -->
  <section class="content-header">
    <h1 class="title">Salary Processing</h1>
    <form>
      <div class="">
        <div class="">
          <div class="col-md-2">
            <div class="form-group">
              <label style="color:#757575; display: inline-block; font-weight: 400;" >Month<sup style="color:red;">*</sup></label>
              <select name="bnknm" class="form-control select2 building-select d-inline"  [(ngModel)]="salary_filter.selectedmonth"  required>
                <option  value="" disabled="">Select Month</option>
                <option *ngFor="let b of monthArray" value="{{b.id}}">{{b.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label style="color:#757575; display: inline-block; font-weight: 400;">Year<sup style="color:red;">*</sup></label>
              <select name="endDate" class="form-control select2 building-select d-inline" [(ngModel)]="salary_filter.selectedyear"  required>
                <option  value="" disabled="">Select Year</option>
                <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-5" >
            <button type="button" class="btn bg-orange btn-flat btn-salary" (click)="process(processingTemplate)">
              <!-- <i class="fa fa-cogs" aria-hidden="true"></i>  -->Process Salary
            </button>
             <button type="button" class="btn bg-orange btn-flat btn-salary" (click)="gotoToggle(toggleSalaryTemplate)">Toggle Salary Slip Download</button>
          </div>
         <!--  <div class="col-md-2" >
           
          </div> -->
        </div>
      </div>
    </form>
  </section>
  <section class="content">
    <div class="">
      <div class="box-body">
        <div class="">
          <table class="table table-striped table-hover" datatable [dtOptions]="salaryTableOptions" [dtTrigger]="salaryTableTrigger">
            <thead>
              <tr>
               <th><label class="check-holder"><input id='checkAll' type='checkbox' class='check-box' (click)="checkALL()" />
                <span class="checkmark"></span></label></th>
               <th>Name</th>
               <th>Department</th>
               <th>Role</th>
               <th>Pan No.</th>
               <th>Salary</th>
               <th>Date of Joining</th>
               <th>Edit</th>
               <th>Download</th>
             </tr>
           </thead>
           <tbody>
            <tr *ngFor="let i of user_data">
                <td style="padding: 5px 15px;"><label class="check-holder"><input class="checkbox" name="{{i.id}}"  type="checkbox" />
                  <span class="checkmark"></span></label></td>
                <td>{{i.name}}</td>
                <td>{{i.department}}</td>
                <td>{{i.role }}</td>
                <td>{{i.pan_number | nullData}}</td>
                <td><i class="fa fa-inr" aria-hidden="true"></i> {{convertAmountintoCurrency(i.salary)}}</td>
                <td>{{i.date_of_joining | date:'dd/MM/yyyy'}}</td>
                <td  align="center"><a target="_blank"
                  style="" [routerLink]="['/home/users',i.id,'payments']" [queryParams]="{month:salary_filter.selectedmonth,year:salary_filter.selectedyear}"><i class="fa fa-custom" aria-hidden="true"><img src="assets/images/edit-icon.png"></i></a></td>
                  <td  align="center"><button type="button" class="btn" (click)="downloadSalarySlip(i.id,i.name)" style="border-radius: 20px;font-size: 10px; background: transparent;border: none"><i class="fa fa-custom" aria-hidden="true"><img src="assets/images/download-icon.png"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
<ng-template #processingTemplate>
 <!-- <div class="modal-header">
   <p class="modal-title pull-left" style="font-size: 18px;">Process Salary</p>
   <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="modal-body text-center" style="padding-bottom: 30px;">
  
  <h3 style="margin-bottom: 15px;">Are you sure you want to process salary? <br>You won't be able to revert this</h3>
  <button type="button" class="btn btn-default btn-submit" (click)="confirm()"  style=" font-size: 18px; color: #fff; padding: 12px 15px!important" [ladda]="isLoading">Yes Process</button>
  <button type="button" class="btn btn-default btn-danger btn-cancel" (click)="decline()" style="margin-right: 5px; font-size: 18px; color: #fff;">Cancel</button>
</div>
</ng-template>
<ng-template #toggleSalaryTemplate>
  <div class="modal-content">
    <div class="modal-header">
      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSalaryToggle()"><span aria-hidden="true">&times;</span></button> -->
      <h4 class="modal-title" id="myModalLabel" style="display: inline-block;">Toggle Salary Slip</h4>
       <div class="pull-right">
     <button type="submit" class="btn btn-primary btn-submit"   [disabled]="salarySlipToggleForm.invalid"  [ladda]="isLoading">Submit</button>
    <button type="button" class="btn  btn-cancel" aria-label="Close" (click)="closeSalaryToggle()">
    <!--   <span aria-hidden="true">&times;</span> --> Cancel
    </button>
  </div>
    </div>
    <div class="modal-body">
      <form novalidate (ngSubmit)="validateSalarySlipForm()" [formGroup]="salarySlipToggleForm" autocomplete="off">
        <div class="">
         <div class="col-md-5">
          <div class="form-group">
            <!-- <label >Month<sup style="color:red;">*</sup></label> -->
            <select name="bnknm" class="form-control select2 building-select d-inline"   [(ngModel)]="toggle_salary_data.selectedmonth"  formControlName="month"
            required [class.error1]="!salarySlipToggleForm.controls.month.valid && salarySlipToggleForm.controls.month.dirty" style="width: 100%;">
            <option  value="" disabled="">Select Month</option>
            <option *ngFor="let b of monthArray" value="{{b.id}}">{{b.name}}</option>
          </select>
          <div *ngIf="( salarySlipToggleForm.get('month').hasError('required') )
          && salarySlipToggleForm.get('month').touched">
          <div class="error" *ngIf="salarySlipToggleForm.get('month').hasError('required')
          &&  salarySlipToggleForm.get('month').touched">
          This field is mandatory
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="form-group">
      <!-- <label>Year<sup style="color:red;">*</sup></label> -->
      <select name="endDate" class="form-control select2 building-select d-inline"   [(ngModel)]="toggle_salary_data.selectedyear"  formControlName="year"
      required [class.error1]="!salarySlipToggleForm.controls.year.valid && salarySlipToggleForm.controls.year.dirty" style="width: 100%;">
      <option  value="" disabled="">Select Year</option>
      <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
    </select>
    <div *ngIf="( salarySlipToggleForm.get('year').hasError('required') )
    && salarySlipToggleForm.get('year').touched">
    <div class="error" *ngIf="salarySlipToggleForm.get('year').hasError('required')
    &&  salarySlipToggleForm.get('year').touched">
    This field is mandatory
  </div>
</div>
</div>
</div>
<div class="col-md-2">
  <div class="form-group">
    <!-- <label style="    margin-left: 5px;">OFF/ON Toggle<sup style="color:red;">*</sup>
    </label> -->
    <label class="switch">
      <input type="checkbox" [(ngModel)]="toggle_salary_data.toggler" formControlName="toggle"
      [class.error1]="!salarySlipToggleForm.controls.toggle.valid && salarySlipToggleForm.controls.toggle.dirty" (change)="getSiwtchData(toggle_salary_data.toggler)">
      <span class="slider round"></span>
    </label>
    <div *ngIf="( salarySlipToggleForm.get('toggle').hasError('required') )
    && salarySlipToggleForm.get('toggle').touched">
    <div class="error" *ngIf="salarySlipToggleForm.get('toggle').hasError('required')
    &&  salarySlipToggleForm.get('toggle').touched">
    This field is mandatory
  </div>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
<!-- <div>
  <div style="text-align: center;">
   <button type="submit" class="btn btn-primary" [disabled]="salarySlipToggleForm.invalid" [ladda]="isLoading">Save changes</button>
 </div>
</div> -->
</form>
</div>
</div>
<!-- Default checked -->

</ng-template>
<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
