  <div class="wrapper">
    <div class="content-wrapper">
      <ol class="breadcrumb">
        <li><a [routerLink]="['/home/dashboard']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
        <li class="active">Subordinate (Approved Late Marks)</li>
      </ol>
      <section class="content-header">
        <form (ngSubmit)="validateApprovedLateMarksForm()" [formGroup]="approvedLateMarksForm" autocomplete="off" novalidate="off">
          <a (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          <h4 class="modal-title" id="H1" style="background: #FF9800;border-radius: 10px; padding: 5px; cursor: pointer;color: black;">Filter for Approved Late Marks</h4>
        </a>
        <div class="row" id="collapseBasic" [collapse]="isCollapsed" style="margin-left: 1px;margin-right: 1px; background: #353535;border-radius: 10px">
          <div>
            <div class="col-md-2">
              <div class="form-group">
                <label style="color:white;">Start Date<sup style="color:red;">*</sup></label>
                <input name="bnknm" type='text' class="form-control"[(ngModel)]="approvedLateMarkData.start_date" formControlName="start_date" required [class.error1]="!approvedLateMarksForm.controls.start_date.valid && approvedLateMarksForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date"  />
                <owl-date-time  [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
                <div *ngIf="( approvedLateMarksForm.get('start_date').hasError('minlength') || approvedLateMarksForm.get('start_date').hasError('pattern') || approvedLateMarksForm.get('start_date').hasError('required') ) && approvedLateMarksForm.get('start_date').touched">
                  <div class="error" *ngIf="(approvedLateMarksForm.get('start_date').hasError('required') && approvedLateMarksForm.get('start_date').touched)">
                    This field is mandatory
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label style="color: white;">End Date<sup style="color:red;">*</sup></label>
                <input name="endDate" type='text' class="form-control" [(ngModel)]="approvedLateMarkData.end_date" formControlName="end_date" required [class.error1]="!approvedLateMarksForm.controls.end_date.valid && approvedLateMarksForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date"  />
                <owl-date-time  [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
                <div *ngIf="( approvedLateMarksForm.get('end_date').hasError('minlength') || approvedLateMarksForm.get('end_date').hasError('pattern') || approvedLateMarksForm.get('end_date').hasError('required') ) && approvedLateMarksForm.get('end_date').touched">
                  <div class="error" *ngIf="(approvedLateMarksForm.get('end_date').hasError('required') && approvedLateMarksForm.get('end_date').touched)">
                    This field is mandatory
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2" style="margin-top: 24px;">
              <button type="submit" class="btn bg-orange btn-flat" [disabled]="approvedLateMarksForm.invalid"><i class="fa fa-filter" aria-hidden="true"></i> Apply Filter</button>
            </div>
          </div>
        </div>
      </form>
    </section>
    <section class="content">
      <div class="row">
        <div class="box-body">
          <div>
            <table datatable [dtOptions]="leaveTableOptions" [dtTrigger]="leaveTableTrigger" class="table table-bordered table-striped table-hover" >
              <thead>
                <tr>
                  <th>User</th>
                  <th>Late Marks Count</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of approved_late_mark_data">
                  <td>{{l.user_name}}</td>
                  <td><a (click)="userLateMarkList(userLateMarkListtemp,l)">{{l.late_marks_count}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #userLateMarkListtemp>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Approved Late Marks</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <section class="content">
      <div class="row">
        <div class="box-body">
          <div>
            <table class="table table-bordered table-striped table-hover" >
              <thead>
                <tr>
                  <th>User</th>
                  <th>Date</th>
                  <th>Comment</th>
                  <th>Approval Date</th>
                  <th>Approved By</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of user_approved_late_mark_data">
                  <td>{{l.user_name}}</td>
                  <td>{{l.date}}</td>
                  <td>{{l.comment}}</td>
                  <td>{{l.approved_on | nullData}}</td>
                  <td>{{l.approved_by | nullData}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-template>
