<div class="wrapper">
  <div class="content-wrapper">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/home/dashboard']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
      <li class="active">Manager (Approved Outdoor Duties)</li>
    </ol>
    <section class="content-header">
      <form (ngSubmit)="validateApprovedOutDoorDutyForm()" [formGroup]="approvedOutDoorDutyForm" autocomplete="off" novalidate="off">
      <a (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
      <h4 class="modal-title" id="H1" style="background: #FF9800;border-radius: 10px; padding: 5px; cursor: pointer;color: black;">FILTER FOR APPROVED OUTDOOR DUTIES</h4>
      </a>
      <div class="row" id="collapseBasic" [collapse]="isCollapsed" style="margin-left: 1px;margin-right: 1px; background: #353535;border-radius: 10px">
        <div>
          <div class="col-md-2">
            <div class="form-group">
              <label style="color:white;">Start Date<sup style="color:red;">*</sup></label>
              <input name="bnknm" type='text' class="form-control"[(ngModel)]="approvedOutDoorDutyData.start_date" formControlName="start_date" required [class.error1]="!approvedOutDoorDutyForm.controls.start_date.valid && approvedOutDoorDutyForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date"  />
              <owl-date-time  [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
              <div *ngIf="( approvedOutDoorDutyForm.get('start_date').hasError('minlength') || approvedOutDoorDutyForm.get('start_date').hasError('pattern') || approvedOutDoorDutyForm.get('start_date').hasError('required') ) && approvedOutDoorDutyForm.get('start_date').touched">
                <div class="error" *ngIf="(approvedOutDoorDutyForm.get('start_date').hasError('required') && approvedOutDoorDutyForm.get('start_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label style="color: white;">End Date<sup style="color:red;">*</sup></label>
              <input name="endDate" type='text' class="form-control" [(ngModel)]="approvedOutDoorDutyData.end_date" formControlName="end_date" required [class.error1]="!approvedOutDoorDutyForm.controls.end_date.valid && approvedOutDoorDutyForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date"  />
              <owl-date-time  [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
              <div *ngIf="( approvedOutDoorDutyForm.get('end_date').hasError('minlength') || approvedOutDoorDutyForm.get('end_date').hasError('pattern') || approvedOutDoorDutyForm.get('end_date').hasError('required') ) && approvedOutDoorDutyForm.get('end_date').touched">
                <div class="error" *ngIf="(approvedOutDoorDutyForm.get('end_date').hasError('required') && approvedOutDoorDutyForm.get('end_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 24px;">
            <button type="submit" class="btn bg-orange btn-flat" [disabled]="approvedOutDoorDutyForm.invalid"><i class="fa fa-filter" aria-hidden="true"></i> Apply Filter</button>
          </div>
        </div>
      </div>
      </form>
    </section>
    <section class="content">
      <div class="row">
        <div class="box-body">
          <div>
            <table datatable [dtOptions]="leaveTableOptions" [dtTrigger]="leaveTableTrigger" class="table table-bordered table-striped table-hover" >
              <thead>
                <tr>
                  <th>User</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Project/Firm Name</th>
                  <th>Client/Broker Name</th>
                  <th>Location</th>
                  <th>Purpose</th>
                  <th>Approval Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of approved_outdoor_duty_data">
                  <td>{{l.user_name}}</td>
                  <td>{{l.start_date}}</td>
                  <td>{{l.end_date}}</td>
                  <td>{{l.project_name}}</td>
                  <td>{{l.client_name}}</td>
                  <td>{{l.location}}</td>
                  <td>{{l.reason}}</td>
                  <td>{{l.approved_on |  date: 'dd/MM/yyyy'| nullData}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
