<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title">Unapproved Outdoor Duties (Subordinates)</h1>
      <form (ngSubmit)="filterSubOrdinateOutdoor()" [formGroup]="unapprovedOutdoorForm" autocomplete="off" novalidate="off">
      <div class="holder-filter" id="collapseBasic" [collapse]="isCollapsed">
        <div class="col-md-12">
          <label class="filter-label">Add Filter</label>
          <div class="lo-btn">
            <input name="bnknm" type='text' class="form-control d-inline" [(ngModel)]="unapprovedOutdoorFormData.start_date" formControlName="start_date" required [class.error1]="!unapprovedOutdoorForm.controls.start_date.valid && unapprovedOutdoorForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date" style="width: 100%" />
            <owl-date-time [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
            <div *ngIf="( unapprovedOutdoorForm.get('start_date').hasError('minlength') || unapprovedOutdoorForm.get('start_date').hasError('pattern') || unapprovedOutdoorForm.get('start_date').hasError('required') ) && unapprovedOutdoorForm.get('start_date').touched">
              <div class="error" *ngIf="(unapprovedOutdoorForm.get('start_date').hasError('required') && unapprovedOutdoorForm.get('start_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
          <div class="lo-btn">
            <input name="endDate" type='text' class="form-control d-inline" [(ngModel)]="unapprovedOutdoorFormData.end_date" formControlName="end_date" required [class.error1]="!unapprovedOutdoorForm.controls.end_date.valid && unapprovedOutdoorForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date" style="width: 100%" />
            <owl-date-time [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
            <div *ngIf="( unapprovedOutdoorForm.get('end_date').hasError('minlength') || unapprovedOutdoorForm.get('end_date').hasError('pattern') || unapprovedOutdoorForm.get('end_date').hasError('required') ) && unapprovedOutdoorForm.get('end_date').touched">
              <div class="error" *ngIf="(unapprovedOutdoorForm.get('end_date').hasError('required') && unapprovedOutdoorForm.get('end_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
          <button type="submit" class="btn bg-orange btn-flat btn-apply" [disabled]="unapprovedOutdoorForm.invalid">Apply</button>
        </div>
      </div>
      </form>
    </section>
    <section class="content">
      <div class="box-body">
        <div>
          <table datatable [dtOptions]="leaveTableOptions" [dtTrigger]="leaveTableTrigger" class="table table-striped table-hover" >
          <thead>
            <tr>
              <th>User</th>
              <th>Unapproved Outdoor Duties Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of unapproved_outdoor_duty_data">
              <td>{{l.user_name}}</td>
              <td><a (click)="userOutdoorsList(userOutdoorListtemp,l)">{{l.outdoors_count}}</a></td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #userOutdoorListtemp>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Unapproved Outdoor Duties</h4>
  </div>
  <section class="content-header">
    <form  novalidate  (ngSubmit)="validateRecordOutdoorResponseForm()" [formGroup]="updateOutdoorsForm" autocomplete="off">
      <div class="col-md-12">
        <div class="form-group">
          <label>Reason<sup style="color:red;">*</sup></label>
          <input name="puropse" type='text' class="form-control"[(ngModel)]="updateOutdoorsData.comment"  formControlName="comment" required [class.error1]="!updateOutdoorsForm.controls.comment.valid && updateOutdoorsForm.controls.comment.dirty" />
          <div *ngIf="(updateOutdoorsForm.get('comment').hasError('required') ) && updateOutdoorsForm.get('comment').touched">
            <div class="error" *ngIf="updateOutdoorsForm.get('comment').hasError('required') && updateOutdoorsForm.get('comment').touched">
              This field is mandatory
            </div>
          </div>
        </div>
      </div>
    <button type="button" class="btn bg-orange btn-flat ladda-button btn-apply" [disabled]="updateOutdoorsForm.invalid" (click)="save(user_id)" ladda="loadingDemo" data-style="expand-right">Mark Approved</button>
    <button type="submit" class="btn btn-danger btn-flat pull-right" [disabled]="updateOutdoorsForm.invalid">Mark Rejected</button>
    </form>
  </section>
  <div class="modal-body">
    <section class="content">
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover" >
            <thead>
              <tr>
                <th>#</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Client Name</th>
                <th>Project Name</th>
                <th>Reason</th>
                <th>Location</th>
                <th>Approve</th>
                <th>Reject</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of user_unapproved_outdoor_data">
                <td><input class="checkbox" name="{{l.id}}"  type="checkbox" /></td>
                <td>{{l.start_date}}</td>
                <td>{{l.end_date}}</td>
                <td>{{l.client_name}}</td>
                <td>{{l.project_name}}</td>
                <td>{{l.reason}}</td>
                <td>{{l.location}}</td>
                <td><a style="cursor: pointer;" (click)="approveSingleOutdoor(l.id)"><i class="fa fa-check" style="font-size:35px;color:green" aria-hidden="true"></i></a></td>
                <td><a style="cursor: pointer;" (click)="rejectSigleOutdoor(l.id)"><i class="fa fa-close" style="font-size:35px;color:red"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</ng-template>
