<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title">Rejected Missing Attendances (Subordinates)</h1>
      <form (ngSubmit)="validateRejectedMissingAttendanceForm()" [formGroup]="rejectedMissingAttendanceForm" autocomplete="off" novalidate="off">
      <div class="holder-filter" id="collapseBasic" [collapse]="isCollapsed">
        <div class="col-md-12">
          <label class="filter-label">Add Filter</label>
          <div class="lo-btn">
            <input name="bnknm" type='text' class="form-control d-inline" [(ngModel)]="rejectedMissingAttendanceData.start_date" formControlName="start_date" required [class.error1]="!rejectedMissingAttendanceForm.controls.start_date.valid && rejectedMissingAttendanceForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date" style="width: 100%" />
            <owl-date-time [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
            <div *ngIf="(rejectedMissingAttendanceForm.get('start_date').hasError('minlength') || rejectedMissingAttendanceForm.get('start_date').hasError('pattern') || rejectedMissingAttendanceForm.get('start_date').hasError('required') ) && rejectedMissingAttendanceForm.get('start_date').touched">
              <div class="error" *ngIf="(rejectedMissingAttendanceForm.get('start_date').hasError('required') && rejectedMissingAttendanceForm.get('start_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
          <div class="lo-btn">
            <input name="endDate" type='text' class="form-control d-inline" [(ngModel)]="rejectedMissingAttendanceData.end_date" formControlName="end_date" required [class.error1]="!rejectedMissingAttendanceForm.controls.end_date.valid && rejectedMissingAttendanceForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date" style="width: 100%" />
            <owl-date-time [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
            <div *ngIf="(rejectedMissingAttendanceForm.get('end_date').hasError('minlength') || rejectedMissingAttendanceForm.get('end_date').hasError('pattern') || rejectedMissingAttendanceForm.get('end_date').hasError('required') ) && rejectedMissingAttendanceForm.get('end_date').touched">
              <div class="error" *ngIf="(rejectedMissingAttendanceForm.get('end_date').hasError('required') && rejectedMissingAttendanceForm.get('end_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
          <button type="submit" class="btn bg-orange btn-flat btn-apply" [disabled]="rejectedMissingAttendanceForm.invalid">Apply</button>
        </div>
      </div>
      </form>
    </section>
    <section class="content">
      <div class="box-body">
        <table datatable [dtOptions]="leaveTableOptions" [dtTrigger]="leaveTableTrigger" class="table table-striped table-hover" >
        <thead>
          <tr>
            <th>User</th>
            <th>Rejected Missing Attendances Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of rejected_missing_attendance_data">
            <td>{{l.user_name}}</td>
            <td><a (click)="userMissingAttendanceList(userAttendanceMissingListtemp, l)">{{l.attendance_missing_count}}</a></td>
          </tr>
        </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
<ng-template #userAttendanceMissingListtemp>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Rejected Missing Attendance</h4>
  </div>
  <div class="modal-body">
    <section class="content">
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover" >
            <thead>
              <tr>
                <th>User</th>
                <th>Date</th>
                <th>Punch Type</th>
                <th>Reason</th>
                <th>Rejected By</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of user_rejected_missing_attendance">
                <td>{{l.user_name}}</td>
                <td>{{l.date}}</td>
                <td>{{l.punch_type}}</td>
                <td>{{l.reason}}</td>
                <td>{{l.reviewer_name | nullData}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</ng-template>
