<div class="wrapper">
  <div class="content-wrapper">
    <ol class="breadcrumb">
      <li><a [routerLink]="['../']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
      <li class="active">Unpproved Outdoor Duties</li>
    </ol>
    <section class="content-header">
    </section>
    <section class="content">
      <div class="row">
        <div class="box-body">
          <div>
            <table datatable [dtOptions]="outdoorDutyTableOptions" [dtTrigger]="outdoorDutyTableTrigger" class="table table-bordered table-striped table-hover" >
            <thead>
              <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project/Firm Name</th>
                <th>Client/Broker Name</th>
                <th>Location</th>
                <th>Purpose</th>
                <th>Approved</th>
                <th>Approval Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of outdoordutiesData">
                <td> {{l.start_date}} </td>
                <td> {{l.end_date}} </td>
                <td> {{l.project_name}} </td>
                <td> {{l.client_name}}</td>
                <td>{{l.location}}</td>
                <td> {{l.reason}}</td>
                <td *ngIf="l.approved==true">Yes</td>
                <td *ngIf="l.approved==false">No</td>
                <td>{{l.approved_on}}</td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
