<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title" style="margin-left: 15px; margin-bottom: 25px;">Salary Processing</h1>
      <div *ngIf="section =='salary'">
        <div class="col-md-2">
          <div class="form-group">
            <select name="bnknm" class="form-control select2 building-select d-inline"  [(ngModel)]="salary_filter.selectedmonth" style="" required style="width: 100%;">
            <option value="" disabled="">Select Month</option>
            <option *ngFor="let b of monthArray" value="{{b.id}}">{{b.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select name="endDate" class="form-control select2 building-select d-inline" [(ngModel)]="salary_filter.selectedyear" style="" required style="width: 100%;">
            <option value="" disabled="">Select Year</option>
            <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2" >
          <button type="button" class="btn bg-orange btn-flat btn-apply" (click)="filter(salary_filter.selectedmonth,salary_filter.selectedyear)">Submit</button>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="">
        <div class="box-body">
          <div class="panel box box-primary">
            <div id="flatDetails" class="panel-collapse collapse in">
              <div class="box-body" *ngIf="showUserSalary && showUserPayment" >
                <div class="clearfix"></div>
                <div style="margin-bottom: 10px;">
                  <button type="button" class="btn bg-orange btn-flat b-first" (click)="addSalary(addSalaryTemplate)" *ngIf="isBetween" style="margin-right: 20px; margin-left: 5px"><img src="assets/images/dash-icon.png">  Add Salary</button>
                  <button type="button" class="btn bg-orange btn-flat" (click)="gotodeleteSalary(deleteSalaryTemplate)" *ngIf="isBetween" style="margin-right: 20px;"><img src="assets/images/dash-icon.png">  Delete Salary</button>
                  <button type="button" class="btn bg-orange btn-flat" (click)="gotoDownloadAppraisal()" *ngIf="user_salary_data.revision_downloadable"  style="margin-right: 20px;"><img src="assets/images/dash-icon.png">  Download Salary Revision Letter</button>
                  <button type="button" class="btn bg-orange btn-flat" (click)="undoPayment(undoPaymentTemplate)" *ngIf="isBetween && user_payemnt_data.payment_id"  style="margin-right: 10px;"><img src="assets/images/dash-icon.png">  Undo Payment</button>
                </div>
                <div>
                  <h1 class="title">{{user_salary_data.name}}</h1>
                  <div class="table-responsive table-salary">
                    <table class="table table-striped" datatable>
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Start Date</th>
                          <th>Total Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {{user_salary_data.title}}
                          </td>
                          <td>
                            {{user_salary_data.start_date | date: 'dd/MM/yyyy'}}
                          </td>
                          <td>
                            <i class="fa fa-inr" aria-hidden="true"></i> {{user_salary_data.amount | indianCurrency}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-md-2" *ngFor="let s of components; let i = index">
                      <dl class="booking-grid"  >
                        <dt>Component {{i+1}}</dt>
                        <dd>Name: {{s.title}}</dd>
                        <dd>Amount: <i class="fa fa-inr" aria-hidden="true"></i>  {{s.amount | indianCurrency}}</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel box box-primary">
            <div class="">
              <h4 class="box-title">
                <a data-toggle="collapse"  data-target="#paymentSection" style="cursor: pointer; color: #757575;">
                  <h1 class="title" id="H1">Payment Details</h1>
                </a>
              </h4>
            </div>
            <div id="paymentSection" class="panel-collapse collapse in">
              <div class="box-body" *ngIf="showUserPayment">
                <div class="row">
                  <div class="col-md-4">
                    <label style="color: #757575; font-weight: 400; font-size: 18px;">Total Payable Amount: <i class="fa fa-inr" aria-hidden="true"></i>  {{user_payemnt_data.amount | indianCurrency}}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5" >
                    <div class="form-group">
                      <label style="color: #757575; font-weight: 400; font-size: 18px; display: inline-block;">Total LWP</label>
                      <input name="mTitle" type='text' class="form-control lwp-count" [(ngModel)]="user_payemnt_data.lwp" />
                      <button type="button" class="btn bg-orange btn-apply" (click)="reprocessSal()" [disabled]="!user_payemnt_data.payment_id" *ngIf="isBetween" [ladda]="reProcessLoader" style="    margin-top: 25px;">
                      <!-- <i class="fa fa-cogs" aria-hidden="true" ></i>  -->Re-Process Salary
                      </button>
                    </div>
                  </div>
                </div>
                <div class="table-responsive table-salary">
                  <table class="table table-striped" datatable>
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Amount</th>
                        <th>Incentive</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of payment_components; let i = index ">
                        <td>{{p.title}}</td>
                        <td>{{p.amount}}</td>
                        <td>{{p.details | nullData}}</td>
                        <td>
                          <i class="fa custom" aria-hidden="true" *ngIf="p.title == 'Incentive' || p.title == 'EPF' || p.title == 'Special Allowance' || p.title == 'Earlier PF Deduction'|| p.title == 'TDS'|| p.title == 'Other Deductions'|| p.title == 'Salary Advance'|| p.title == 'Overtime'|| p.title == 'Arrears'" (click)="deletePay(i)" style="cursor: pointer;"><img src="assets/images/delete-icon.png"></i>
                        </td>
                      </tr>
                      <tr *ngFor="let choice of choices; let i = index ">
                        <td>
                          <select class="select2 form-control d-inline" style="height: 35px;width: 100%;background: url(../../assets/images/arrow-icon-blue.png) transparent no-repeat;background-position: 95%;border: none;padding: 0;margin: 0;color: #757575;" [(ngModel)]="choice.component"  (change)="getpayments(choice.component,i)" [ngModelOptions]="{standalone: true}">
                          <option  value="" disabled="disabled">Select Component</option>
                          <option *ngFor="let c of user_payment_components" value="{{c}}">{{c}}</option>
                          </select>
                        </td>
                        <td>
                          <input type="text" id="Text1" class="form-control " placeholder="Enter Amount" [(ngModel)]="choice.amount" [ngModelOptions]="{standalone: true}" style="border: none; background: transparent;" />
                        </td>
                        <td><input type="text" id="Text1" class="form-control" placeholder="Enter Incentive Detail" [(ngModel)]="choice.details" [ngModelOptions]="{standalone: true}" *ngIf="choice.component == 'Incentive'" style="border: none"/>
                        </td>
                        <td>
                          <button class="btn " (click)="addMoreCT()" type="button" style="border-radius: 20px; background: transparent; border: none" *ngIf="i == 0"><i class="fa fa-custom" aria-hidden="true" ><img src="assets/images/plus-icon.png"></i></button>
                          <button type="button" class="btn" (click)="delCT(i)" style="border-radius: 20px; background: transparent; border: none" *ngIf="i > 0"><i class="fa fa-custom" aria-hidden="true" ><img src="assets/images/minus-icon.png"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div style="text-align: left;">
                  <div class="form-group" style="margin-top: 35px;">
                    <button type="submit" class="btn bg-orange btn-apply" (click)="save()" [ladda]="isLoading" *ngIf="isBetween">Save changes</button>
                    <button type="button" class="btn btn-apply" (click)="downloadSalarySlip()" style="margin-left: 25px;" [ladda]="isSalaryDownloader">Download</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #deleteSalaryTemplate>
  <div class="modal-header">
    <p class="modal-title pull-left" style="font-size: 18px;">Delete Salary</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <h3>Are you sure?</h3>
    <h3>You won't be able to revert this</h3>
    <button type="button" class="btn btn-default btn-success" (click)="confirm()"  style="margin-right: 5px; font-size: 18px; color: #fff;" [ladda]="deleteSalaryLoader">Yes Delete</button>
    <button type="button" class="btn btn-default btn-danger" (click)="decline()" style="margin-right: 5px; font-size: 18px; color: #fff;">Cancel</button>
  </div>
</ng-template>
<ng-template #undoPaymentTemplate>
  <div class="modal-header">
    <p class="modal-title pull-left" style="font-size: 18px;">Undo Payment</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <h3>Are you sure?</h3>
    <h3>You won't be able to revert this</h3>
    <button type="button" class="btn btn-default btn-success" (click)="confirmUndoPayment()"  style="margin-right: 5px; font-size: 18px; color: #fff;" [ladda]="undoPaymentLoader">Undo Payment</button>
    <button type="button" class="btn btn-default btn-danger" (click)="decline()" style="margin-right: 5px; font-size: 18px; color: #fff;">Cancel</button>
  </div>
</ng-template>
<ng-template #addSalaryTemplate>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeAddSalaryModal()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Add Salary Structure</h4>
    </div>
    <div class="modal-body">
      <form novalidate (ngSubmit)="validateAddSalaryForm()" [formGroup]="addSalaryForm" autocomplete="off">
      <div class="row">
        <div>
          <div class="col-md-12">
            <div class="col-md-3">
              <div class="form-group">
                <label>Title<sup style="color:red;">*</sup></label>
                <input name="mTitle" type='text' class="form-control" formControlName="title" [(ngModel)]="addSalaryData.title" required [class.error1]="!addSalaryForm.controls.title.valid && addSalaryForm.controls.title.dirty"
                />
                <div *ngIf="( addSalaryForm.get('title').hasError('pattern') || addSalaryForm.get('title').hasError('required') ) && addSalaryForm.get('title').touched">
                  <div class="error" *ngIf="(addSalaryForm.get('title').hasError('required') && addSalaryForm.get('title').touched)">
                    This field is mandatory
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Start Date<sup style="color:red;">*</sup></label>
                <input name="bnknm" type='text' class="form-control"[(ngModel)]="addSalaryData.start_date" formControlName="start_date" required [class.error1]="!addSalaryForm.controls.start_date.valid && addSalaryForm.controls.start_date.dirty"  [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date" />
                <owl-date-time  [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
              </div>
              <div *ngIf="(addSalaryForm.get('start_date').hasError('pattern') || addSalaryForm.get('start_date').hasError('required') ) && addSalaryForm.get('start_date').touched">
                <div class="error" *ngIf="(addSalaryForm.get('start_date').hasError('required') && addSalaryForm.get('start_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Total Amount<sup style="color:red;">*</sup></label>
                <input name="endDate" type='text' class="form-control" formControlName="total_amount" [(ngModel)]="addSalaryData.total_amount" required [class.error1]="!addSalaryForm.controls.total_amount.valid && addSalaryForm.controls.total_amount.dirty" />
                <div *ngIf="( addSalaryForm.get('total_amount').hasError('pattern') || addSalaryForm.get('total_amount').hasError('required') ) && addSalaryForm.get('total_amount').touched">
                  <div class="error" *ngIf="(addSalaryForm.get('total_amount').hasError('required') && addSalaryForm.get('start_date').touched)">
                    This field is mandatory
                  </div>
                  <div class="error" *ngIf="addSalaryForm.get('total_amount').hasError('pattern') && addSalaryForm.get('total_amount').touched">
                    Invalid total amount
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3" style="margin-top: 24px;">
              <button type="button" class="btn btn-primary" (click)="breakupSalary(addSalaryData.total_amount)">Get Salary Breakup</button>
            </div>
          </div>
          <div *ngIf="isshowBreakUp">
            <div class="col-md-12">
              <div class="col-md-3">
                <label>Basic</label>
                <input name="" type='text' class="form-control" [(ngModel)]="salaryBreakComponents.basic" [ngModelOptions]="{standalone: true}"  ng-pattern="/^[0-9]*$/" />
              </div>
              <div class="col-md-3">
                <label>HRA</label>
                <input name="" type='text' class="form-control" [(ngModel)]="salaryBreakComponents.hra" [ngModelOptions]="{standalone: true}" />
              </div>
              <div class="col-md-3">
                <label>Travel Allowance</label>
                <input name="" type='text' class="form-control" [(ngModel)]="salaryBreakComponents.travel_allowance" [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-3">
                <label>Special Allowance</label>
                <input name="" type='text' class="form-control" [(ngModel)]="salaryBreakComponents.special_allowance" [ngModelOptions]="{standalone: true}" />
              </div>
              <div class="col-md-3">
                <label>Professional Tax</label>
                <input name="" type='text' class="form-control" [(ngModel)]="salaryBreakComponents.pt" [ngModelOptions]="{standalone: true}" />
              </div>
              <div class="col-md-3">
                <label>P.B.I.</label>
                <input name="" type='text' class="form-control" [(ngModel)]="salaryBreakComponents.pbi" [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <br>
        </div>
        <div>
          <div class="col-md-6 form-group" style="margin-top: 10px; margin-left: 13px;">
            <button type="submit" class="btn btn-primary"  [disabled]="addSalaryForm.invalid || !isshowBreakUp" [ladda]="addSalaryLoader">Save changes</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</ng-template>
