<div class="wrapper">
  <div class="content-wrapper">
    <ol class="breadcrumb">
      <li><a [routerLink]="['./']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
    </ol>
    <section class="content-header">
      <button type="button" class="btn bg-orange btn-flat" (click)="openModal(leaveTemplate)" style="margin-right: 5px;">Apply for Leave</button>
      <button type="button" class="btn bg-orange btn-flat" (click)="openModal(outdoorDutiesTemplate)" style="margin-right: 5px;">Apply for Outdoor Duty</button>
      <button type="button" class="btn bg-orange btn-flat" (click)="openModal(lateMarkTemplate)" style="margin-right: 5px;">Apply for Late Mark
      </button>
      <button type="button" class="btn bg-orange btn-flat" (click)="openModal(missingAttendanceTemplate)" style="margin-right: 5px;">Apply for Missing Attendance
      </button>
      <button type="button" class="btn bg-orange btn-flat" (click)="openModal(userSalarySliptemplate)" >Download Payment Slip</button>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="panel box box-primary">
        <div class="box-header with-border">
          <h4 class="box-title">
            <a data-toggle="collapse" data-target="#clienttDetails" style="cursor: pointer; color: #fff;">
              <h4 class="modal-title" id="H3">MY LEAVE DETAILS</h4>
            </a>
          </h4>
        </div>
        <div id="clienttDetails" class="panel-collapse collapse in">
          <div class="box-body">
            <div>
              <table class="table  table-bordered table-striped table-hover" datatable [dtOptions]="leaveTableOptions"
              [dtTrigger]="leaveTableTrigger">
              <thead>
                <tr>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Leave Type</th>
                  <th>Reason</th>
                  <th>Approved</th>
                  <th>Approval Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of leavesData">
                  <td>{{l.start_date  | date: 'dd/MM/yyyy'}}</td>
                  <td>{{l.end_date  | date: 'dd/MM/yyyy'}}</td>
                  <td>{{l.leave_type}}</td>
                  <td>{{l.reason}}</td>
                  <td *ngIf="l.approved==false">No</td>
                  <td *ngIf="l.approved==true">Yes</td>
                  <td>{{l.approved_on | date: 'dd/MM/yyyy'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel box box-primary">
      <div class="box-header with-border">
        <h4 class="box-title">
          <a data-toggle="collapse" data-target="#INVENTdETAILS" style="cursor: pointer; color: #fff;">
            <h4 class="modal-title" id="H3">MY ASSET DETAILS</h4>
          </a>
        </h4>
      </div>
      <div id="INVENTdETAILS" class="panel-collapse collapse in">
        <div class="box-body">
          <div>
            <table class="table  table-bordered table-striped table-hover" datatable [dtOptions]="assetTableOptions"  [dtTrigger]="assetTableTrigger">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Quantity</th>
                  <th>Date of Issue</th>
                  <th>Returned</th>
                  <th>Date when returned</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of invertoryData">
                  <td ng-bind=""> {{i.title}} </td>
                  <td ng-bind=""> {{i.quantity}} </td>
                  <td>{{i.date_of_issue}}</td>
                  <td *ngIf="i.returned==false">No</td>
                  <td *ngIf="i.returned==true">Yes</td>
                  <td ng-bind="">{{i.returned_on}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel box box-primary">
      <div class="box-header with-border">
        <h4 class="box-title">
          <a data-toggle="collapse" data-target="#ODtDetails" style="cursor: pointer; color: #fff;">
            <h4 class="modal-title" id="H3">MY OUTDOOR DUTY DETAILS</h4>
          </a>
        </h4>
      </div>
      <div id="ODtDetails" class="panel-collapse collapse in">
        <div class="box-body">
          <div>
            <table class="table  table-bordered table-striped table-hover" datatable [dtOptions]="outdoorDutyTableOptions"  [dtTrigger]="outdoorDutyTableTrigger">
              <thead>
                <tr>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Project/Firm Name</th>
                  <th>Client/Broker Name</th>
                  <th>Location</th>
                  <th>Purpose</th>
                  <th>Approved</th>
                  <th>Approval Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of odData">
                  <td> {{l.start_date}} </td>
                  <td> {{l.end_date}} </td>
                  <td> {{l.project_name}} </td>
                  <td> {{l.client_name}}</td>
                  <td>{{l.location}}</td>
                  <td> {{l.reason}}</td>
                  <td *ngIf="l.approved==true">Yes</td>
                  <td *ngIf="l.approved==false">No</td>
                  <td>{{l.approved_on}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel box box-primary">
      <div class="box-header with-border">
        <h4 class="box-title">
          <a data-toggle="collapse" data-target="#LMtDetails" style="cursor: pointer; color: #fff;">
            <h4 class="modal-title" id="H3">MY LATE MARKS DETAILS</h4>
          </a>
        </h4>
      </div>
      <div id="LMtDetails" class="panel-collapse collapse in">
        <div class="box-body">
          <div>
            <table class="table  table-bordered table-striped table-hover" datatable [dtOptions]="lateMarkTableOptions"  [dtTrigger]="lateMarkTableTableTrigger">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Comment</th>
                  <th>Approved</th>
                  <th>Approval Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of lmData">
                  <td>{{l.date}}</td>
                  <td *ngIf="l.approved==false"><a style="cursor: pointer;" (click)="updateLateMarkResponse(recordLateMarkResponse,l.id,l.comment)">{{l.comment}}</a></td>
                  <td *ngIf="l.approved==true">{{l.comment}}</td>
                  <td *ngIf="l.approved==false">No</td>
                  <td *ngIf="l.approved==true">Yes</td>
                  <td>{{l.approved_on}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel box box-primary">
      <div class="box-header with-border">
        <h4 class="box-title">
          <a data-toggle="collapse" data-target="#MATDetails" style="cursor: pointer; color: #fff;">
            <h4 class="modal-title" id="H3">MY MISSING ATTENDANCE DETAILS</h4>
          </a>
        </h4>
      </div>
      <div id="MATDetails" class="panel-collapse collapse in">
        <div class="box-body">
          <div>
            <table class="table  table-bordered table-striped table-hover" datatable  [dtOptions]="missingAttendanceTableOptions"
            [dtTrigger]="missingAttendanceTableTrigger">
            <thead>
              <tr>
                <th>Date</th>
                <th>Approved</th>
                <th>Approval Date</th>
                <th>Punch</th>
                <th>Reason</th>
                <th>Record Reason</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of maData">
                <td >{{l.date}}</td>
                <td *ngIf="l.approved==false">No</td>
                <td *ngIf="l.approved==true">Yes</td>
                <td> {{l.approved_on}}</td>
                <td>{{l.punch}}</td>
                <td>{{l.reason}}</td>
                <td><button (click)="updateMissingAttendance(updateMissingAttendanceTemplate,l.id,l.reason)" type="button" class="add-dynamic-button" [attr.data-maId]="'#' + l.id"><i class="fa fa-edit" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="panel box box-primary">
    <div class="box-header with-border">
      <h4 class="box-title">
        <a data-toggle="collapse" data-target="#clienttDetails" style="cursor: pointer; color: #fff;">
          <h4 class="modal-title" id="H3">MY MENTORSHIP PROGRAM DETAILS</h4>
        </a>
      </h4>
    </div>
    <div id="clienttDetails" class="panel-collapse collapse in">
      <div class="box-body">
        <div>
          <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="mentorshipTableOptions"  [dtTrigger]="mentorshipTableTrigger">
            <thead>
              <tr>
                <th *ngIf="isMentororMentee=='mentee'">Mentor</th>
                <th *ngIf="isMentororMentee=='mentor'">Mentee</th>
                <th>Record Mentorship Feedback</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of mentorData">
                <td *ngIf="isMentororMentee=='mentee'">{{ m.mentor }}</td>
                <td *ngIf="isMentororMentee=='mentor'">{{ m.mentee }}</td>
                <td><button type="button" class="btn bg-orange btn-flat" (click)="recordMentorshipFeeback(i.mentorship_id,i.user)">Record your response</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
</div>
</div>
<ng-template #leaveTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Apply for leave</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  novalidate (ngSubmit)="validateApplyLeaveForm()" [formGroup]="applyLeaveForm" autocomplete="off">
      <div class="row">
        <div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Start Date<sup style="color:red;">*</sup></label>
              <input name="bnknm" type='text' class="form-control" [owlDateTime]="lsdt" [owlDateTimeTrigger]="lsdt"  [(ngModel)]="applyLeavesData.start_date"  formControlName="start_date" required [class.error1]="!applyLeaveForm.controls.start_date.valid && applyLeaveForm.controls.start_date.dirty" />
              <owl-date-time [pickerType]="'calendar'" #lsdt></owl-date-time>
              <div *ngIf="( applyLeaveForm.get('start_date').hasError('pattern') || applyLeaveForm.get('start_date').hasError('required') ) && applyLeaveForm.get('start_date').touched">
               <div class="error" *ngIf="(applyLeaveForm.get('start_date').hasError('required') && applyLeaveForm.get('start_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>End Date<sup style="color:red;">*</sup></label>
            <input name="endDate" type='text' class="form-control"  [(ngModel)]="applyLeavesData.end_date" formControlName="end_date" [owlDateTime]="ledt" [owlDateTimeTrigger]="ledt" [class.error1]="!applyLeaveForm.controls.end_date.valid && applyLeaveForm.controls.end_date.dirty"
            required />
            <owl-date-time  [pickerType]="'calendar'" #ledt></owl-date-time>
            <div *ngIf="( applyLeaveForm.get('end_date').hasError('required') ) && applyLeaveForm.get('end_date').touched">
              <div class="error" *ngIf="applyLeaveForm.get('end_date').hasError('required') && applyLeaveForm.get('end_date').touched">
                This field is mandatory
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Leave type<sup style="color:red;">*</sup></label>
            <select name="leavType" class="select2 form-control" style="width: 100%; height: 35px;" [(ngModel)]="applyLeavesData.leave_type" formControlName="leave_type" [class.error1]="!applyLeaveForm.controls.leave_type.valid && applyLeaveForm.controls.leave_type.dirty" required >
              <option value="" disabled="disabled">Select leave type</option>
              <option *ngFor="let l of leavesArray" value="{{l}}">{{l}}</option>
            </select>
            <div *ngIf="( applyLeaveForm.get('leave_type').hasError('required') ) && applyLeaveForm.get('leave_type').touched">
              <div class="error" *ngIf="applyLeaveForm.get('leave_type').hasError('required') && applyLeaveForm.get('leave_type').touched">
                This field is mandatory
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Reason<sup style="color:red;">*</sup></label>
            <textarea type='text' name="leavereason" class="form-control"  [(ngModel)]="applyLeavesData.reason"  formControlName="reason" [class.error1]="!applyLeaveForm.controls.reason.valid && applyLeaveForm.controls.reason.dirty" required></textarea>
            <div *ngIf="( applyLeaveForm.get('reason').hasError('required') ) && applyLeaveForm.get('reason').touched">
              <div class="error" *ngIf="applyLeaveForm.get('reason').hasError('required') && applyLeaveForm.get('reason').touched">
                This field is mandatory
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="" style="text-align: center;">
        <div class="">
          <button type="submit" class="btn btn-primary" [disabled]="applyLeaveForm.invalid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
</ng-template>
<ng-template #outdoorDutiesTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Apply for Outdoor Duty</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate (ngSubmit)="validateApplyOutdoorDutiesForm()" [formGroup]="applyOutdoorDutiesForm" autocomplete="off">
      <div class="row">
        <div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Start Date and Time<sup style="color:red;">*</sup></label>
              <input name="bnknm" type='text' class="form-control" [owlDateTime]="dt" [owlDateTimeTrigger]="dt"  [(ngModel)]="applyOutdoorDutiesData.start_date"  formControlName="start_date_time" required [class.error1]="!applyOutdoorDutiesForm.controls.start_date_time.valid && applyOutdoorDutiesForm.controls.start_date_time.dirty" />
              <owl-date-time #dt></owl-date-time>
              <div *ngIf="(applyOutdoorDutiesForm.get('start_date_time').hasError('required') ) && applyOutdoorDutiesForm.get('start_date_time').touched">
                <div class="error" *ngIf="applyOutdoorDutiesForm.get('start_date_time').hasError('required') && applyOutdoorDutiesForm.get('start_date_time').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>End Date and Time<sup style="color:red;">*</sup></label>
              <input name="endDate" type='text' class="form-control" [owlDateTime]="edt" [owlDateTimeTrigger]="edt" [(ngModel)]="applyOutdoorDutiesData.end_date"  formControlName="end_date_time" required [class.error1]="!applyOutdoorDutiesForm.controls.end_date_time.valid && applyOutdoorDutiesForm.controls.end_date_time.dirty" />
              <owl-date-time #edt></owl-date-time>
              <div *ngIf="( applyOutdoorDutiesForm.get('end_date_time').hasError('required') ) && applyOutdoorDutiesForm.get('end_date_time').touched">
                <div class="error" *ngIf="applyOutdoorDutiesForm.get('end_date_time').hasError('required') && applyOutdoorDutiesForm.get('end_date_time').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Project/Firm Name<sup style="color:red;">*</sup></label>
              <input name="prjname" type='text' class="form-control" [(ngModel)]="applyOutdoorDutiesData.project_name" formControlName="project" required [class.error1]="!applyOutdoorDutiesForm.controls.project.valid && applyOutdoorDutiesForm.controls.project.dirty" />
              <div *ngIf="( applyOutdoorDutiesForm.get('project').hasError('required') ) && applyOutdoorDutiesForm.get('project').touched">
                <div class="error" *ngIf="applyOutdoorDutiesForm.get('project').hasError('required') && applyOutdoorDutiesForm.get('project').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Client/Broker Name<sup style="color:red;">*</sup></label>
              <input name="clntname" type='text' class="form-control" [(ngModel)]="applyOutdoorDutiesData.client_name"  formControlName="client" required [class.error1]="!applyOutdoorDutiesForm.controls.client.valid && applyOutdoorDutiesForm.controls.client.dirty" />
              <div *ngIf="( applyOutdoorDutiesForm.get('client').hasError('required') ) && applyOutdoorDutiesForm.get('client').touched">
                <div class="error" *ngIf="applyOutdoorDutiesForm.get('client').hasError('required') && applyOutdoorDutiesForm.get('client').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Location<sup style="color:red;">*</sup></label>
              <input name="loc" type='text' class="form-control" [(ngModel)]="applyOutdoorDutiesData.location"  formControlName="location" required [class.error1]="!applyOutdoorDutiesForm.controls.location.valid && applyOutdoorDutiesForm.controls.location.dirty" />
              <div *ngIf="( applyOutdoorDutiesForm.get('location').hasError('required') ) && applyOutdoorDutiesForm.get('location').touched">
                <div class="error" *ngIf="applyOutdoorDutiesForm.get('location').hasError('required') && applyOutdoorDutiesForm.get('location').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Purpose<sup style="color:red;">*</sup></label>
              <input type='text' class="form-control" [(ngModel)]="applyOutdoorDutiesData.reason"  formControlName="purpose" required [class.error1]="!applyOutdoorDutiesForm.controls.purpose.valid && applyOutdoorDutiesForm.controls.purpose.dirty" />
              <div *ngIf="( applyOutdoorDutiesForm.get('purpose').hasError('required') ) && applyOutdoorDutiesForm.get('purpose').touched">
                <div class="error" *ngIf="applyOutdoorDutiesForm.get('purpose').hasError('required') && applyOutdoorDutiesForm.get('purpose').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" style="margin-top: 23px; text-align: center;">
          <button type="submit" class="btn btn-primary" [disabled]="applyOutdoorDutiesForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #lateMarkTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Apply for Late Mark</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  novalidate (ngSubmit)="validateLateMarkForm()" [formGroup]="applyLateMarksForm" autocomplete="off">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <label>Date and Time<sup style="color:red;">*</sup></label>
              <input name="bnknm" type='text' class="form-control" [owlDateTime]="late_mark_date_time" [owlDateTimeTrigger]="late_mark_date_time"  [(ngModel)]="applyLateMarksData.date"  formControlName="date_time" required [class.error1]="!applyLateMarksForm.controls.date_time.valid && applyLateMarksForm.controls.date_time.dirty" />
              <owl-date-time #late_mark_date_time></owl-date-time>
              <div *ngIf="( applyLateMarksForm.get('date_time').hasError('required') ) && applyLateMarksForm.get('date_time').touched">
                <div class="error" *ngIf="applyLateMarksForm.get('date_time').hasError('required') && applyLateMarksForm.get('date_time').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Comment<sup style="color:red;">*</sup></label>
              <textarea name="commnt" type='text' class="form-control"  [(ngModel)]="applyLateMarksData.comment"  formControlName="comment" required [class.error1]="!applyLateMarksForm.controls.comment.valid && applyLateMarksForm.controls.comment.dirty" ></textarea>
              <div *ngIf="( applyLateMarksForm.get('comment').hasError('required') ) && applyLateMarksForm.get('comment').touched">
                <div class="error" *ngIf="applyLateMarksForm.get('comment').hasError('required') && applyLateMarksForm.get('comment').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" style="text-align: center;">
          <button type="submit" class="btn btn-primary" [disabled]="applyLateMarksForm.invalid" >Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #missingAttendanceTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Apply for Missing Attendance</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  novalidate (ngSubmit)="validateMissingAttendanceForm()" [formGroup]="applyMissingAttendanceForm" autocomplete="off">
      <div class="row">
        <div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Date and Time<sup style="color:red;">*</sup></label>
              <input name="bnknm" type='text' class="form-control" [owlDateTime]="missing_attendance_date_time" [owlDateTimeTrigger]="missing_attendance_date_time"  [(ngModel)]="applyMissingAttendanceData.date"  formControlName="date_time" required [class.error1]="!applyMissingAttendanceForm.controls.date_time.valid && applyMissingAttendanceForm.controls.date_time.dirty" />
              <owl-date-time #missing_attendance_date_time></owl-date-time>
              <div *ngIf="( applyMissingAttendanceForm.get('date_time').hasError('required') ) && applyMissingAttendanceForm.get('date_time').touched">
                <div class="error" *ngIf="applyMissingAttendanceForm.get('date_time').hasError('required') && applyMissingAttendanceForm.get('date_time').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Punch Detail<sup style="color:red;">*</sup></label>
              <select name="punchType" class="select2 form-control" style="width: 100%; height: 35px;" [(ngModel)]="applyMissingAttendanceData.punch"  formControlName="punch" required [class.error1]="!applyMissingAttendanceForm.controls.punch.valid && applyMissingAttendanceForm.controls.punch.dirty" >
                <option value="" disabled="disabled">Select punch type</option>
                <option *ngFor="let pt of punchArray" value="{{pt}}">{{pt}}</option>
              </select>
              <div *ngIf="( applyMissingAttendanceForm.get('punch').hasError('required') ) && applyMissingAttendanceForm.get('punch').touched">
                <div class="error" *ngIf="applyMissingAttendanceForm.get('punch').hasError('required') && applyMissingAttendanceForm.get('punch').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Comment<sup style="color:red;">*</sup></label>
              <textarea name="commnt" type='text' class="form-control"  [(ngModel)]="applyMissingAttendanceData.reason"  formControlName="comment" required [class.error1]="!applyMissingAttendanceForm.controls.comment.valid && applyMissingAttendanceForm.controls.comment.dirty" ></textarea>
              <div *ngIf="( applyMissingAttendanceForm.get('comment').hasError('required') ) && applyMissingAttendanceForm.get('comment').touched">
                <div class="error" *ngIf="applyMissingAttendanceForm.get('comment').hasError('required') && applyMissingAttendanceForm.get('comment').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="" style="text-align: center;">
        <button type="submit" class="btn btn-primary" [disabled]="applyMissingAttendanceForm.invalid" >Submit</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #userSalarySliptemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Download Salary</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  novalidate (ngSubmit)="validateSalarySlipForm()" [formGroup]="salarySlipDownloadForm" autocomplete="off">
      <div class="row">
        <div>
          <div class="col-md-3">
            <div class="form-group">
              <label >Month<sup style="color:red;">*</sup></label>
              <select name="bnknm" class="form-control select2 building-select"  style="width: 100%;" [(ngModel)]="salarySlipDownloadData.selectedmonth"
              formControlName="month" required [class.error1]="!salarySlipDownloadForm.controls.month.valid && salarySlipDownloadForm.controls.month.dirty"  >
              <option  value="" disabled="">Select Month</option>
              <option *ngFor="let b of monthArray" value="{{b.id}}">{{b.name}}</option>
            </select>
            <div *ngIf="( salarySlipDownloadForm.get('month').hasError('required') )
            && salarySlipDownloadForm.get('month').touched">
            <div class="error" *ngIf="salarySlipDownloadForm.get('month').hasError('required')
            &&  salarySlipDownloadForm.get('month').touched">
            This field is mandatory
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Year<sup style="color:red;">*</sup></label>
        <select name="endDate" class="form-control select2 building-select"
        style="width: 100%;" [(ngModel)]="salarySlipDownloadData.selectedyear"  formControlName="year"
        required [class.error1]="!salarySlipDownloadForm.controls.year.valid && salarySlipDownloadForm.controls.year.dirty" >
        <option  value="" disabled="">Select Year</option>
        <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
      </select>
      <div *ngIf="( salarySlipDownloadForm.get('year').hasError('required') ) && salarySlipDownloadForm.get ('year').touched">
        <div class="error" *ngIf="salarySlipDownloadForm.get('year').hasError('required') && salarySlipDownloadForm.get('year').touched">
          This field is mandatory
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="margin-top: 23px;">
    <button type="submit" class="btn btn-primary" [disabled]="salarySlipDownloadForm.invalid"> <i class="fa fa-download" aria-hidden="true"></i> Download</button>
  </div>
</div>
</div>
</form>
</div>
</ng-template>
<ng-template #updateMissingAttendanceTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Record Reason for Missing Attendance</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  novalidate  (ngSubmit)="validateUpdateMissingAttendanceForm()" [formGroup]="updateMissingAttendanceForm" autocomplete="off">
      <div class="row">
        <div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Reason<sup style="color:red;">*</sup></label>
              <input name="puropse" type='text' class="form-control"[(ngModel)]="updateMissingAttendanceData.reason"  formControlName="comment" required [class.error1]="!updateMissingAttendanceForm.controls.comment.valid && updateMissingAttendanceForm.controls.comment.dirty" />
              <div *ngIf="( updateMissingAttendanceForm.get('comment').hasError('required') ) && updateMissingAttendanceForm.get('comment').touched">
               <div class="error" *ngIf="updateMissingAttendanceForm.get('comment').hasError('required') && updateMissingAttendanceForm.get('comment').touched">
                This field is mandatory
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="" style="margin-top: 23px; text-align: center;">
       <button type="submit" class="btn btn-primary" [disabled]="updateMissingAttendanceForm.invalid">Submit</button>
     </div>

   </div>
 </form>
</div>
</ng-template>
<ng-template #recordLateMarkResponse>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Record Reason for Missing Attendance</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  novalidate  (ngSubmit)="validateRecordLateMarkResponseForm()" [formGroup]="updateLateMarksForm" autocomplete="off">
      <div class="row">
        <div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Reason<sup style="color:red;">*</sup></label>
              <input name="puropse" type='text' class="form-control"[(ngModel)]="updateLateMarksData.comment"  formControlName="comment" required [class.error1]="!updateLateMarksForm.controls.comment.valid && updateLateMarksForm.controls.comment.dirty" />
              <div *ngIf="( updateLateMarksForm.get('comment').hasError('required') ) && updateLateMarksForm.get('comment').touched">
               <div class="error" *ngIf="updateLateMarksForm.get('comment').hasError('required') && updateLateMarksForm.get('comment').touched">
                This field is mandatory
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="" style="margin-top: 23px; text-align: center;">
       <button type="submit" class="btn btn-primary" [disabled]="updateLateMarksForm.invalid">Submit</button>
     </div>

   </div>
 </form>
</div>
</ng-template>

