<div class="">
    <div class="col-md-6 left-login-box"><img src="assets/images/bg-logins.png" alt=""  class="img-responsive"></div>
    <div class="col-md-6 right-login-box"> <div class="login-box" id="content" >
      <div class="login-logo" >
        <img src="assets/images/lock-loginic.png" class="img-responsive  lock-img" >
        <img src="assets/images/logo.png" class="logo-pp">
        <p class="login-box-msg-he" >HRMS</p>
      </div>
      <div class="login-box-body" style="padding: 0;">
  
        <p class="login-box-msg" style=" text-transform: uppercase;font-size: 16px;">HRMS | Reset Password</p>
        <form name="resetPassword" novalidate (ngSubmit)="validateResetPasswordForm()" [formGroup]="resetPasswordForm" autocomplete="off">
            <div class="form-group has-feedback">
              <input [type]="show ? 'text' : 'password'" class="form-control" id="foremail" aria-describedby="emailHelp" placeholder="Enter New Password" name="" required  [(ngModel)]="resetPasswordData.password" formControlName="password"
              [class.error1]="!resetPasswordForm.controls.password.valid && resetPasswordForm.controls.password.dirty" style="margin-top: 25px; margin-bottom:0px;">
              <span class="glyphicon" style="z-index: 999!important;
          cursor: pointer;
          position: absolute;
          right: 15px;
          top: 15px;"
          (click)="viewPassword()">
          <img src="assets/images/eye-icon.png" alt="" *ngIf="show">
          <img src="assets/images/eye-icon-close.png" alt="" *ngIf="!show">
        </span>
            </div>
            <div class="form-group has-feedback">
              <input [type]="showConfirm ? 'text' : 'password'" class="form-control" id="foremail" aria-describedby="emailHelp" placeholder="Confirm New Password" name="" required  [(ngModel)]="resetPasswordData.password_confirmation" formControlName="password_confirmation"
              [class.error1]="!resetPasswordForm.controls.password_confirmation.valid && resetPasswordForm.controls.password_confirmation.dirty" style="margin-top: 25px; margin-bottom:0px;">
              <span class="glyphicon" style="z-index: 999!important;
              cursor: pointer;
              position: absolute;
              right: 15px;
              top: 15px;"
              (click)="viewConfirmPassword()">
              <img src="assets/images/eye-icon.png" alt="" *ngIf="showConfirm">
              <img src="assets/images/eye-icon-close.png" alt="" *ngIf="!showConfirm">
            </span>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <button type="submit" class="btn bg-orange btn-flat ladda-button" [disabled]="resetPasswordForm.invalid" [ladda]="isLoading">Reset Your Password</button>
                  
        
                </div>
                <!-- /.col -->
              </div>
            </form>
            <div style="margin-top: 23px; text-align: center;">
              <a [routerLink]="['/login']" style="cursor: pointer;" >Login</a>
            </div>
    </div>
  </div></div>
  </div>
  