<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title">Approved Outdoor Duties</h1>
      <form (ngSubmit)="validateOutdoorDutiesForm()" [formGroup]="outdoorDutiesForm" autocomplete="off" novalidate="off">
        <div class="holder-filter" id="collapseBasic" [collapse]="isCollapsed" style="">
          <div>
           <div class="col-md-1" >
            <label style="color:#757575; display: inline-block; font-weight: 400;    margin:8px 0 0 -5px;">Add Filter</label>
          </div>
          <div class="col-md-2 alc alc-fix" >
            <div class="form-group">
              <input name="bnknm" type='text' class="form-control d-inline"[(ngModel)]="outdoorDutiesData.start_date" formControlName="start_date" required [class.error1]="!outdoorDutiesForm.controls.start_date.valid && outdoorDutiesForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date"  style="width: 100%" />
              <owl-date-time  [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
              <div *ngIf="( outdoorDutiesForm.get('start_date').hasError('minlength') || outdoorDutiesForm.get('start_date').hasError('pattern') || outdoorDutiesForm.get('start_date').hasError('required') ) && outdoorDutiesForm.get('start_date').touched">
                <div class="error" *ngIf="(outdoorDutiesForm.get('start_date').hasError('required') && outdoorDutiesForm.get('start_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 alc" >
            <div class="form-group">
              <input name="endDate" type='text' class="form-control d-inline" [(ngModel)]="outdoorDutiesData.end_date" formControlName="end_date" required [class.error1]="!outdoorDutiesForm.controls.end_date.valid && outdoorDutiesForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date" style="width: 100%" />
              <owl-date-time  [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
              <div *ngIf="( outdoorDutiesForm.get('end_date').hasError('minlength') || outdoorDutiesForm.get('end_date').hasError('pattern') || outdoorDutiesForm.get('end_date').hasError('required') ) && outdoorDutiesForm.get('end_date').touched">
                <div class="error" *ngIf="(outdoorDutiesForm.get('end_date').hasError('required') && outdoorDutiesForm.get('end_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2" >
            <button type="submit" class="btn bg-orange btn-fla btn-apply" [disabled]="outdoorDutiesForm.invalid"><!-- i class="fa fa-filter" aria-hidden="true"></i>  --> Apply</button>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="content">
    <div class="">
      <div class="box-body">
        <div>
          <table datatable [dtOptions]="outdoorDutyTableOptions" [dtTrigger]="outdoorDutyTableTrigger" class="table table-striped table-hover" >
            <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Project/Firm Name</th>
                <th>Client/Broker Name</th>
                <th>Location</th>
                <th>Purpose</th>
                <th>Approved</th>
                <th>Approval Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of outdoordutiesData">
                <td> {{l.start_date}} </td>
                <td> {{l.end_date}} </td>
                <td> {{l.project_name}} </td>
                <td> {{l.client_name}}</td>
                <td>{{l.location}}</td>
                <td> {{l.reason}}</td>
                <td *ngIf="l.approved==true">Yes</td>
                <td *ngIf="l.approved==false">No</td>
                <td>{{l.approved_on | date: 'dd/MM/yyyy' | nullData}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
</div>


