<div class="wrapper">
  <div class="content-wrapper">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/home/dashboard']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
      <li class="active">Subordinate (Unapproved Leaves)</li>
    </ol>
    <section class="content-header">
      <form (ngSubmit)="filterUnapprovedLeavesForm()" [formGroup]="unapprovedLeavesForm" autocomplete="off" novalidate="off">
      <a (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
      <h4 class="modal-title" id="H1" style="background: #FF9800;border-radius: 10px; padding: 5px; cursor: pointer;color: black;">Filter for Unapproved Leaves</h4>
      </a>
      <div class="row" id="collapseBasic" [collapse]="isCollapsed" style="margin-left: 1px;margin-right: 1px; background: #353535;border-radius: 10px">
        <div>
          <div class="col-md-2">
            <div class="form-group">
              <label style="color:white;">Start Date<sup style="color:red;">*</sup></label>
              <input name="bnknm" type='text' class="form-control"[(ngModel)]="unapprovedLeavesData.start_date" formControlName="start_date" required [class.error1]="!unapprovedLeavesForm.controls.start_date.valid && unapprovedLeavesForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date"  />
              <owl-date-time  [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
              <div *ngIf="( unapprovedLeavesForm.get('start_date').hasError('minlength') || unapprovedLeavesForm.get('start_date').hasError('pattern') || unapprovedLeavesForm.get('start_date').hasError('required') ) && unapprovedLeavesForm.get('start_date').touched">
                <div class="error" *ngIf="(unapprovedLeavesForm.get('start_date').hasError('required') && unapprovedLeavesForm.get('start_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label style="color: white;">End Date<sup style="color:red;">*</sup></label>
              <input name="endDate" type='text' class="form-control" [(ngModel)]="unapprovedLeavesData.end_date" formControlName="end_date" required [class.error1]="!unapprovedLeavesForm.controls.end_date.valid && unapprovedLeavesForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date"  />
              <owl-date-time  [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
              <div *ngIf="( unapprovedLeavesForm.get('end_date').hasError('minlength') || unapprovedLeavesForm.get('end_date').hasError('pattern') || unapprovedLeavesForm.get('end_date').hasError('required') ) && unapprovedLeavesForm.get('end_date').touched">
                <div class="error" *ngIf="(unapprovedLeavesForm.get('end_date').hasError('required') && unapprovedLeavesForm.get('end_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 24px;">
            <button type="submit" class="btn bg-orange btn-flat" [disabled]="unapprovedLeavesForm.invalid"><i class="fa fa-filter" aria-hidden="true"></i> Apply Filter</button>
          </div>
        </div>
      </div>
      </form>
    </section>
    <section class="content">
      <div class="row">
        <div class="box-body">
          <div>
            <table datatable [dtOptions]="leaveTableOptions" [dtTrigger]="leaveTableTrigger" class="table table-bordered table-striped table-hover" >
              <thead>
                <tr>
                  <th>User</th>
                  <th>Unapproved Leaves Count</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of unapproved_leaves_data">
                  <td>{{l.user_name}}</td>
                  <td><a (click)="userLeavesList(userLeavesListtemp,l)">{{l.leaves_count}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<ng-template #userLeavesListtemp>
  <div class="modal-header">
    <h4 class="modal-title" style="text-align: center;">Unapproved Leaves</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <section class="content-header">
    <form  novalidate  (ngSubmit)="validateRecordLeavesResponseForm()" [formGroup]="updateLeavesForm" autocomplete="off">
    <div class="" style="margin-top: 23px; text-align: center;">
    </div>
      <div class="row">
        <div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Reason<sup style="color:red;">*</sup></label>
              <input name="puropse" type='text' class="form-control"[(ngModel)]="updateLeavesData.comment"  formControlName="comment" required [class.error1]="!updateLeavesForm.controls.comment.valid && updateLeavesForm.controls.comment.dirty" />
              <div *ngIf="(updateLeavesForm.get('comment').hasError('required')) && updateLeavesForm.get('comment').touched">
                <div class="error" *ngIf="updateLeavesForm.get('comment').hasError('required') && updateLeavesForm.get('comment').touched">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn bg-orange btn-flat ladda-button" [disabled]="updateLeavesForm.invalid" (click)="save(user_id)" ladda="loadingDemo" data-style="expand-right">Mark Approved</button>
      <button type="submit" class="btn btn-danger btn-flat pull-right" [disabled]="updateLeavesForm.invalid">Mark Rejected</button>
    </form>
  </section>
  <div class="modal-body">
    <section class="content">
      <div class="row">
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" >
              <thead>
                <tr>
                  <th>#</th>
                  <th>User</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>No. of Days</th>
                  <th>Leave Type</th>
                  <th>Reason</th>
                  <th>Approve</th>
                  <th>Reject</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of user_unapproved_leaves_data">
                  <td><input class="checkbox" name="{{l.id}}"  type="checkbox" /></td>
                  <td>{{l.user_name}}</td>
                  <td>{{l.start_date}}</td>
                  <td>{{l.end_date}}</td>
                  <td>{{l.no_of_days}}</td>
                  <td>{{l.leave_type}}</td>
                  <td>{{l.reason}}</td>
                  <td><a style="cursor: pointer;" (click)="approveSingleLeave(l.id)"><i class="fa fa-check" style="font-size:35px;color:green" aria-hidden="true"></i></a></td>
                  <td><a style="cursor: pointer;" (click)="rejectSingleLeave(l.id)"><i class="fa fa-close" style="font-size:35px;color:red"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-template>
