<div class="wrapper">
  <div class="content-wrapper">
   <!-- <ol class="breadcrumb">
    <li><a [routerLink]="['/home/dashboard']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
    <li class="active">Salary</li>
  </ol> -->
  <section class="content-header">
    <h1 class="title">Missing Salary</h1>
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1" >   <label style="color:#757575; display: inline-block; font-weight: 400;    margin: 8px 0 0 -5px">Add Filter<!-- <sup style="color:red;">*</sup> --></label></div>
          <div class="col-md-2 alc alc-fix">
            <div class="form-group">
           <!--    <label style="color:#757575; display: inline-block; font-weight: 400;">Month<sup style="color:red;">*</sup></label> -->
              <select name="bnknm" class="form-control select2 building-select d-inline"  [(ngModel)]="salary_filter.selectedmonth"  required style="width: 100%;">
                <option  value="" disabled="">Select Month</option>
                <option *ngFor="let b of monthArray" value="{{b.id}}">{{b.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 alc">
            <div class="form-group">
             <!--  <label style="color:#757575; display: inline-block; font-weight: 400;">Year<sup style="color:red;">*</sup></label> -->
              <select name="endDate" class="form-control select2 building-select d-inline" [(ngModel)]="salary_filter.selectedyear"  required style="width: 100%;">
                <option  value="" disabled="">Select Year</option>
                <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="content">
    <div class="">
      <div class="box-body">
        <div class="">
          <table class="table table-striped table-hover" datatable [dtOptions]="salaryTableOptions"  [dtTrigger]="salaryTableTrigger">
            <thead>
              <tr>
               <th>Name</th>
               <th>Department</th>
               <th>Role</th>
               <th>Pan No.</th>
               <th>Salary</th>
               <th>Date of Joining</th>
               <th>Edit</th>
             </tr>
           </thead>
           <tbody>
            <tr *ngFor="let i of user_data">
              <td>{{i.name}}</td>
              <td>{{i.department}}</td>
              <td>{{i.role }}</td>
              <td>{{i.pan_number | nullData}}</td>
              <td><i class="fa fa-inr" aria-hidden="true"></i> {{i.salary | indianCurrency}}</td>
              <td>{{i.date_of_joining | date:'dd/MM/yyyy'}}</td>
              <td  align="center"><a target="_blank"
                style="" [routerLink]="['/home/users',i.id,'payments']" [queryParams]="{month:salary_filter.selectedmonth,year:salary_filter.selectedyear}"><i class="fa fa-custom" aria-hidden="true"><img src="assets/images/edit-icon.png"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
</div>


