<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="col-md-12">
        <h4>Reimbursement</h4>
        <button type="submit"
          class="btn bg-orange btn-flat btn-request" (click)="recordResponse(responseTemplate,false)"><i class="fa fa-submit" aria-hidden="true"></i>New Claim</button>
      </div>
      <div class="container">
        <div class="row">
          <form (ngSubmit)="getData()" >
            <div class="row" [formGroup]="reimbursementform">
              <div class="col-md-12">
                <div class="col-md-12">
                  <label class="filter-label">Add Filter</label>
                  <div class="lo-btn">
                    <select formControlName="month" class="form-control select2 building-select d-inline" [(ngModel)]="reimbursement_filter.selectedmonth" style="width: 100%;"  required>
                    <option *ngFor="let b of monthArray" value="{{b.id}}">{{b.name}}</option>
                    </select>
                  </div>
                  <div class="lo-btn">
                    <select formControlName="year" class="form-control select2 building-select d-inline" [(ngModel)]="reimbursement_filter.selectedyear" style="width: 100%;"  required>
                    <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
                    </select>
                  </div>
                  <button type="submit" class="btn bg-orange btn-flat btn-apply">Apply</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="content helpdesk_wrapper">
      <div class="">
        <div class="box-body">
          <div class="table-responsive" style="overflow-x:hidden;">
            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-tabs">
                  <li [ngClass]="{ 'active': openunapproved==true }">
                    <a id="labelColor" role="button" (click)="getUnapprovedData()">Unapproved</a>
                  </li>
                  <li [ngClass]="{ 'active': openapproved==true }">
                    <a id="labelColor" role="button" (click)="getApprovedData()">Approved</a>
                  </li>
                  <li [ngClass]="{ 'active': openrejected==true }">
                    <a id="labelColor" role="button" (click)="getRejectedData()">Rejected</a>
                  </li>
                </ul>
              </div>
            </div>
            <table id="RembursementDataTables" class="table table-bordered table-striped table-hover" datatable [dtOptions]="rembursementTableOptions" [dtTrigger]="reimbursementTableTrigger">
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Category</th>
                <th>Purpose</th>
                <th>Manager Comment</th>
                <th>Amount</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of rembursement_api_data">
                <td>{{l.id}}</td>
                <td>{{l.display_date}}</td>
                <td>{{l.category_name}}</td>
                <td>{{l.purpose}}</td>
                <td>{{l.review_reason}}</td>
                <td>{{l.amount}}</td>
                <td>
                  <img src="assets/images/eye.png" (click)="viewreimbursementsingledata(viewrembursementsingledatamodal,l)" style="height:12px !important;width:20px !important;cursor: pointer;">&nbsp;
                  <!-- <img src="assets/images/pencil.png" (click)="editrembursementsingledata(editrembursementsingledatamodal,l)" style="height:15px !important;width:15px !important;cursor: pointer;" *ngIf="openunapproved"> -->
                  &nbsp;
                  <img src="assets/images/delete.png" (click)="deletereimbursementsingledata(l)" style="height:16px !important;width:15px !important;cursor: pointer;" *ngIf="openunapproved">
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
<ng-template #responseTemplate>
  
  <div class="modal-header ticket-popup-header">
    <h4 class=" modal-title pull-left">New Reimbursement Claim</h4>
    <button type="button" style="color: white;" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ticket-popup">
    <form [formGroup]="form" (ngSubmit)="submit(model)">
      <div class="form-group rem-catfilter">
        <label>Category<sup style="color:red;">*</sup></label>
        <select name="category" (change)="enableFormAccordingToCategory($event)"
        class="select2 form-control" style="width: 100%; height: 35px;" [class.error1]="!form.controls.category.valid && form.controls.category.dirty"
        required>
        <option value="" disabled="disabled">Select Category</option>
        <option *ngFor="let s of categoriesArray" value="{{s.id}}">{{s.value}}</option>
        </select>
        <div
          *ngIf="(form.get( 'category').hasError( 'required') ) && form.get( 'category').touched">
          <div class="error"
            *ngIf="form.get( 'category').hasError( 'category') && form.get( 'category').touched">
            This field is mandatory
          </div>
        </div>
      </div>
      <formly-form  [model]="model" [fields]="fields" [options]="options" *ngIf="showForm">
        <div class='clearfix'></div>
        <div class="col-md-12 rem-content" *ngIf="precaution==true">
          <h4>Precautions</h4>
          <ul>
            <li>Date of the bill should be visible with correct reference to the expenses. </li>
            <li>Purpose of the expense should be clearly mentioned. </li>
            <li>The person involved in the business meeting or any other stakeholder should be clearly mentioned. </li>
            <li>Always furnish authorized bill. </li>
            <li>Documents should be correctly uploaded. </li>
            <li>Each document should fall in proper category of the expense.</li>
          </ul>
        </div>
        <div class="col-md-12 rem-content" *ngIf="precaution==false">
          <span class="attatch-text">Attach only PDF, JPG or PNG</span>
          <span class="extension-text">Text messages screen shots are not acceptable.</span>
          
        </div>
        <div class='clearfix'></div>
        <div class="md-footer-btm">
          <div class='align-btn'>
              <!-- [disabled]="showError()" -->
            <button type="submit" class="btn btn-default btn-orange" [disabled]="showError()" [ladda]="isLoading">Submit</button>
            <button type="button" class="btn  btn-cancel" aria-label="Close" (click)="closeModal()">Cancel</button>
          </div>
        </div>
       </formly-form>
      </form>
  </div>
  <ngx-loading [show]="formlyLoading==true"></ngx-loading>
</ng-template>
<ng-template #viewrembursementsingledatamodal>
  <div class="modal-content" >
    <form>
      <div class="modal-header ticket-popup-header">
        <h4 class="modal-title pull-left">Reimbursement Claim</h4>
        <a><span class="fa fa-times pull-right" style="color: white;cursor:pointer;" (click)="closeviewrembursementsingledatamodal()"></span></a>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Month</label><br>
            <span>{{splitmonthyear[0]}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Year</label><br>
            <span>{{splitmonthyear[1]}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Category</label><br>
            <span>{{single_user_data.category_name}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4" *ngIf="ola_uber_show">
            <label>Expense For</label><br>
            <span>{{single_user_data.data.expense_for}}</span>
          </div>
            <div class="form-group col-md-4" *ngIf="clientnameshow">
            <label>Client Name</label><br>
            <span>{{single_user_data.data.client_name}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4" *ngIf="hotelshow">
            <label>Hotel Name</label><br>
            <span>{{single_user_data.data.hotel_name}}</span>
          </div>
          <div class="form-group col-md-4" *ngIf="fromtoshow">
            <label>From</label><br>
            <span>{{single_user_data.data.from}}</span>
          </div>
          <div class="form-group col-md-4" *ngIf="fromtoshow">
            <label>To</label><br>
            <span>{{single_user_data.data.to}}</span>
          </div>
        </div>
        <div class="form-row" *ngIf="petrolshow">
          <div class="form-group col-md-4">
            <label>Vehcile Type</label><br>
            <span>{{single_user_data.data.vehicle_type}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Kilometer</label><br>
            <span>{{single_user_data.data.km}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4" *ngIf="!fromtoshow">
            <label>Applied Date</label><br>
            <span>{{single_user_data.display_date}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Amount</label><br>
            <span>{{single_user_data.amount}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Purpose</label><br>
            <span>{{single_user_data.purpose}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Manager Comment</label><br>
            <span>{{single_user_data.review_reason}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Attached Bill:</label>&nbsp;
            <a href="{{single_user_data.receipt_path}}" target='_blank' class="btn btn-primary" *ngIf="!attachedbill">View File</a>
            <span *ngIf="attachedbill">No File Attached</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <button type="button" class="btn btn-warning" (click)="closeviewrembursementsingledatamodal()">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #editrembursementsingledatamodal>
  <div class="modal-header ticket-popup-header">
    <h4 class=" modal-title pull-left">Edit Reimbursement Claim</h4>
    <button type="button" style="color: white;" class="close pull-right" aria-label="Close" (click)="closeeditrembursementsingledatamodal()">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content" >
    <form>
    </form>
  </div>
</ng-template>