<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title">Unapproved Missing Attendances (Subordinates)</h1>
      <form (ngSubmit)="filterSubOrdinateAttendanceMissing()" [formGroup]="unapprovedAttendanceMissingForm" autocomplete="off" novalidate="off">
      <div class="holder-filter" id="collapseBasic" [collapse]="isCollapsed">
        <div class="col-md-12">
          <label class="filter-label">Add Filter</label>
          <div class="lo-btn">
            <input name="bnknm" type='text' class="form-control d-inline" [(ngModel)]="unapprovedAttendanceMissingFormData.start_date" formControlName="start_date" required [class.error1]="!unapprovedAttendanceMissingForm.controls.start_date.valid && unapprovedAttendanceMissingForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date" style="width: 100%" />
            <owl-date-time [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
            <div *ngIf="(unapprovedAttendanceMissingForm.get('start_date').hasError('minlength') || unapprovedAttendanceMissingForm.get('start_date').hasError('pattern') || unapprovedAttendanceMissingForm.get('start_date').hasError('required') ) && unapprovedAttendanceMissingForm.get('start_date').touched">
              <div class="error" *ngIf="(unapprovedAttendanceMissingForm.get('start_date').hasError('required') && unapprovedAttendanceMissingForm.get('start_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
          <div class="lo-btn">
            <input name="endDate" type='text' class="form-control d-inline" [(ngModel)]="unapprovedAttendanceMissingFormData.end_date" formControlName="end_date" required [class.error1]="!unapprovedAttendanceMissingForm.controls.end_date.valid && unapprovedAttendanceMissingForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date" style="width: 100%" />
            <owl-date-time [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
            <div *ngIf="( unapprovedAttendanceMissingForm.get('end_date').hasError('minlength') || unapprovedAttendanceMissingForm.get('end_date').hasError('pattern') || unapprovedAttendanceMissingForm.get('end_date').hasError('required') ) && unapprovedAttendanceMissingForm.get('end_date').touched">
              <div class="error" *ngIf="(unapprovedAttendanceMissingForm.get('end_date').hasError('required') && unapprovedAttendanceMissingForm.get('end_date').touched)">
                This field is mandatory
              </div>
            </div>
          </div>
          <button type="submit" class="btn bg-orange btn-flat btn-apply" [disabled]="unapprovedAttendanceMissingForm.invalid"><i class="fa fa-filter" aria-hidden="true"></i> Apply Filter</button>
        </div>
      </div>
      </form>
    </section>
    <section class="content">
      <div class="box-body">
        <table datatable [dtOptions]="leaveTableOptions" [dtTrigger]="leaveTableTrigger" class="table table-striped table-hover" >
        <thead>
          <tr>
            <th>User</th>
            <th>Unapproved Missing Attendances Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of unapproved_missing_attendance">
            <td>{{l.user_name}}</td>
            <td><a (click)="userAttendanceMissingList(userAttendanceMissingListtemp,l)">{{l.attendance_missing_count}}</a></td>
          </tr>
        </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
<ng-template #userAttendanceMissingListtemp>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Unapproved Missing Attendances</h4>
  </div>
  <section class="content-header">
    <form  novalidate  (ngSubmit)="validateRecordAttendanceMissingResponseForm()" [formGroup]="updateAttendanceMissingsForm" autocomplete="off">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Reason<sup style="color:red;">*</sup></label>
          <input name="puropse" type='text' class="form-control"[(ngModel)]="updateAttendanceMissingsData.comment"  formControlName="comment" required [class.error1]="!updateAttendanceMissingsForm.controls.comment.valid && updateAttendanceMissingsForm.controls.comment.dirty" />
          <div *ngIf="( updateAttendanceMissingsForm.get('comment').hasError('required') ) && updateAttendanceMissingsForm.get('comment').touched">
            <div class="error" *ngIf="updateAttendanceMissingsForm.get('comment').hasError('required') && updateAttendanceMissingsForm.get('comment').touched">
              This field is mandatory
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn bg-orange btn-flat ladda-button btn-apply" [disabled]="updateAttendanceMissingsForm.invalid" (click)="save(user_id)" ladda="loadingDemo" data-style="expand-right">Mark Approved</button>
    <button type="submit" class="btn btn-danger btn-flat pull-right" [disabled]="updateAttendanceMissingsForm.invalid">Mark Rejected</button>
    </form>
  </section>
  <div class="modal-body">
    <section class="content">
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover" >
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date</th>
                <th>Punch</th>
                <th>Reason</th>
                <th>Mark Approved</th>
                <th>Mark Rejected</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of user_unapproved_attendance_missing_data">
                <td><input class="checkbox" name="{{l.id}}"  type="checkbox" /></td>
                <td>{{l.user_name}}</td>
                <td>{{l.date}}</td>
                <td>{{l.punch_type}}</td>
                <td>{{l.reason}}</td>
                <td><a style="cursor: pointer;" (click)="approveSingleAttendanceMissing(l.id)"><i class="fa fa-check" style="font-size:35px;color:green" aria-hidden="true"></i></a></td>
                <td><a style="cursor: pointer;" (click)="rejectSigleAttendanceMissing(l.id)"><i class="fa fa-close" style="font-size:35px;color:red"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</ng-template>
