
<!-- Content Wrapper. Contains page content -->
<div class="wrapper">
	<div class="content-wrapper">
		<ol class="breadcrumb">
			<li><a [routerLink]="['../']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
			<li class="active">Reset Password</li>
		</ol>
		<!-- Content Header (Page header) -->
		<section class="content-header">
		</section>
		<!-- Main content -->
		<section class="content">
			<form novalidate (ngSubmit)="validateResetPassword()" [formGroup]="resetPasswordForm" autocomplete="off">
				<div class="row">
					<div class="box-body">
						<div class="">
							<div class="col-md-3">
								<div class="form-group">
									<label >Current Password<sup style="color:red;">*</sup></label>
									<input
									class="form-control reset-password-form-input"
									type="password"
									placeholder="password"
									[(ngModel)]="resetPasswordData.current_password" formControlName="current_password" required [class.error1]="!resetPasswordForm.controls.current_password.valid && resetPasswordForm.controls.current_password.dirty"
									/>
									<div *ngIf="(resetPasswordForm.get('current_password').hasError('required') ) && resetPasswordForm.get('current_password').touched">
										<div class="error" *ngIf="(resetPasswordForm.get('current_password').hasError('required') && resetPasswordForm.get('current_password').touched)">
											This field is mandatory
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">

								<div class="form-group">
									<label >New Password<sup style="color:red;">*</sup></label>
									<input
									class="form-control reset-password-form-input"
									type="password"
									placeholder="password"
									[(ngModel)]="resetPasswordData.new_password" formControlName="new_password" required [class.error1]="!resetPasswordForm.controls.new_password.valid && resetPasswordForm.controls.new_password.dirty"
									/>
									<div *ngIf="(resetPasswordForm.get('new_password').hasError('required') ) && resetPasswordForm.get('new_password').touched">
										<div class="error" *ngIf="(resetPasswordForm.get('new_password').hasError('required') && resetPasswordForm.get('new_password').touched)">
											This field is mandatory
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label >Confirm New Password<sup style="color:red;">*</sup></label>
									<input
									class="form-control reset-password-form-input"
									type="password"
									placeholder="confirm password"
									formControlName="confirm_password" [(ngModel)]="resetPasswordData.confirm_password" required [class.error1]="!resetPasswordForm.controls.confirm_password.valid && resetPasswordForm.controls.confirm_password.dirty"
									/>
								</div>
								<div *ngIf="(resetPasswordForm.get('confirm_password').hasError('required') ) && resetPasswordForm.get('confirm_password').touched">
									<div class="error" *ngIf="(resetPasswordForm.get('confirm_password').hasError('required') && resetPasswordForm.get('confirm_password').touched)">
										This field is mandatory
									</div>
								</div>
							</div>
							<div class="col-md-1" style="margin-top: 25px;">
								<button type="submit" class="btn bg-orange btn-flat btn-salary" [disabled]="resetPasswordForm.invalid">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
</div>


