<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title" style="margin-bottom: 20px;">Rejected Reimbursement (Subordinates)</h1>
      <form (ngSubmit)="getfilterData()" >
        <div class="row" [formGroup]="rejectedreimbursementform">
          <div class="col-md-12">
            <div class="col-md-12">
              <label class="filter-label">Add Filter</label>
              <div class="lo-btn">
                <select formControlName="month" class="form-control select2 building-select d-inline" [(ngModel)]="rejected_filter.selectedmonth" style="width: 100%;"  required>
                <option *ngFor="let b of monthArray" value="{{b.id}}">{{b.name}}</option>
                </select>
              </div>
              <div class="lo-btn">
                <select formControlName="year" class="form-control select2 building-select d-inline" [(ngModel)]="rejected_filter.selectedyear" style="width: 100%;"  required>
                <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
                </select>
              </div>
              <button type="submit" class="btn bg-orange btn-flat btn-apply">Apply</button>
            </div>
          </div>
        </div>
      </form>
    </section>
    <section class="content">
      <div class="box-body">
        <div>
          <table id="RejectedRembursementDataTables" datatable [dtOptions]="reimbursementrejectedTableOptions" [dtTrigger]="reimbursementrejectedTableTrigger" class="table table-striped table-hover" >
          <thead>
            <tr>
              <th>User</th>
              <th>Rejected Reimbursement Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of rembursement_api_data">
              <td>{{r.user_name}}</td>
              <td><a (click)="userrembursementList(rejectedrembursementlist,r)">{{r.reimbursements_count}}</a></td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #rejectedrembursementlist>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Rejected Reimbursement</h4>
  </div>
  <section content="modal-body">
    <div class="box-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover" >
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Month/Year</th>
              <th>Category</th>
              <th>Date</th>
              <th>Purpose</th>
              <th>Manager Comment</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ur of user_rejected_reimbursement_data">
              <td>{{ur.id}}</td>
              <td>{{ur.user_name}}</td>
              <td>{{ur.display_month_year}}</td>
              <td>{{ur.category_name}}</td>
              <td>{{ur.display_date}}</td>
              <td>{{ur.purpose}}</td>
              <td>{{ur.review_reason}}</td>
              <td>{{ur.amount}}</td>
              <td>
                <a style="cursor: pointer;"><i class="fa fa-eye field-icon toggle-password" aria-hidden="true" 
                  (click)="rejectviewreimbursement(showrejectedrembursementdata,ur)"></i></a>
                <!-- <a style="cursor: pointer;" (click)="approveSinglereimbursement(ur.id)"><i class="fa fa-check" aria-hidden="true"></i></a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #showrejectedrembursementdata>
  <div class="modal-content">
    <form [formGroup]="rejectmodalform">
      <div class="modal-header ticket-popup-header">
        <h4 class="modal-title pull-left">Reimbursement Claim</h4>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Name</label><br>
            <span>{{single_user_data.user_name}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Employee Code</label><br>
            <span>{{single_user_data.display_month_year}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Department</label><br>
            <span>{{single_user_data.display_month_year}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Month</label><br>
            <span>{{splitmonthyear[0]}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Year</label><br>
            <span>{{splitmonthyear[1]}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Category</label><br>
            <span>{{single_user_data.category_name}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Amount</label><br>
            <span>{{single_user_data.amount}}</span>
          </div>
          <div class="form-group col-md-4">
            <label>Date</label><br>
            <span>{{single_user_data.display_date}}</span>
          </div>
          <div class="form-group col-md-4">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Purpose</label><br>
            <span>{{single_user_data.purpose}}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Attached Bill:</label>&nbsp;
            <a href="{{single_user_data.receipt}}" target='_blank' class="btn btn-primary">View File</a>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Comment:</label>
            <textarea cols="75" rows="3" required="true" formControlName="comment" class="form-control" placeholder="Add comment"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-top: 10px; margin-left: 5px; text-align: center;">
            <button [disabled]="rejectmodalform.invalid" type="button" class="btn btn-primary" (click)="approveSinglereimbursement(single_user_data.id)">Approve</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>