<div class="wrapper policies-wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <h1 class="title">Policies</h1>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#leavepolicy" (click)="getDocSrc('leavepolicy')" aria-controls="leavepolicy" role="tab" data-toggle="tab">Leave Policy Details</a></li>
                <li role="presentation"><a href="#attendancepolicy" (click)="getDocSrc('attendancepolicy')" aria-controls="attendancepolicy" role="tab" data-toggle="tab">Attendance Policy Details</a></li>
                <li role="presentation"><a href="#womenempowermentpolicy" (click)="getDocSrc('womenempowermentpolicy')" aria-controls="womenempowermentpolicy" role="tab" data-toggle="tab">Women Empowerment Policy Details</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="leavepolicy">
                    <h4 style="text-align:center;">Leave Policy Details</h4>
                    <pdf-viewer [src]="docSrc" [render-text]="true" style="display: block;"></pdf-viewer>
                </div>
                <div role="tabpanel" class="tab-pane" id="attendancepolicy">
                    <h4 style="text-align:center;">Attendance Policy Details</h4>
                    <pdf-viewer [src]="docSrc" [render-text]="true" style="display: block;"></pdf-viewer>
                </div>
                <div role="tabpanel" class="tab-pane" id="womenempowermentpolicy">
                    <h4 style="text-align:center;">Women Empowerment Policy Details</h4>
                    <pdf-viewer [src]="docSrc" [render-text]="true" style="display: block;"></pdf-viewer>
                </div>
            </div>
        </section>
    </div>
</div>