<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1 class="title">Rembursement (Subordinate)</h1>
      <div class="container">
        <div class="row">
          <form (ngSubmit)="pushData()" [formGroup]="rembursementform">
          <div class="col-md-1">
            <label class="filter-label">Add Filter</label>  
          </div>
          <div class="col-md-3">
            <select class="form-control" name="month" formControlName="month">
              <option value="" disabled="disabled">Select Month</option>
              <option *ngFor="let m of months" value="{{m.month_id}}">{{m.month_name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <select class="form-control" name="year" formControlName="year">
              <option value="" disabled="disabled">Select Year</option>
              <option *ngFor="let y of years" value="{{y}}">{{y}}</option>
            </select>
          </div>
          <button type="submit" class="btn bg-orange btn-flat btn-apply">Apply</button>
          </form>
        </div>
      </div>
    </section>
    <section class="content helpdesk_wrapper">
      <div class="row">
        <div class="box-body">
          <div class="table-responsive">
            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-tabs">
                  <li [ngClass]="{ 'active': openapproved==true }">
                    <a id="labelColor" role="button" (click)="getApprovedData()">Approved</a>
                  </li>
                  <li [ngClass]="{ 'active': openunapproved==true }">
                    <a id="labelColor" role="button" (click)="getUnapprovedData()">Unapproved</a>
                  </li>
                  <li [ngClass]="{ 'active': openrejected==true }">
                    <a id="labelColor" role="button" (click)="getRejectedData()">Rejected</a>
                  </li>
                </ul>
              </div>
            </div>
            <table id="DataTables" class="table  table-bordered table-striped table-hover" datatable>
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Name</th>
                  <th>Month</th>
                  <th>Category</th>
                  <th>Date</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Purpose</th>
                  <th>Manager Comment</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of rembursement_api_Data">
                  <td>{{l.start_date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>