<div class="wrapper">
  <div class="content-wrapper">
    <!-- <ol class="breadcrumb">
      <li><a [routerLink]="['/home/dashboard']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
      <li class="active">Manager (Approved Missing Attendance)</li>
    </ol> -->
    <section class="content-header">
      <h1 class="title" style="margin-bottom: 20px;">Manager (Approved Missing Attendance)</h1>
      <form (ngSubmit)="validateApprovedMissingAttendanceForm()" [formGroup]="approvedMissingAttendanceForm" autocomplete="off" novalidate="off">
    <!--   <a (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
      <h4 class="modal-title" id="H1" style="background: #FF9800;border-radius: 10px; padding: 5px; cursor: pointer;color: black;">FILTER FOR ALL APPROVED MISSING ATTENDANCE</h4>
      </a> -->
      <div class="" id="collapseBasic" [collapse]="isCollapsed" style="">
        <div>
           <div class="col-md-1" style="padding-right: 0" >
          <label style="color:#757575; display: inline-block;font-weight: 400;margin: 8px 0 0 0">Add Filter</label>
        </div>
          <div class="col-md-2 alc alc-fix">
            <div class="form-group">
             <!--  <label style="color:#757575; display: inline-block; font-weight: 400;">Start Date<sup style="color:red;">*</sup></label> -->
              <input name="bnknm" type='text' class="form-control d-inline"[(ngModel)]="approvedMissingAttendanceData.start_date" formControlName="start_date" required [class.error1]="!approvedMissingAttendanceForm.controls.start_date.valid && approvedMissingAttendanceForm.controls.start_date.dirty" [owlDateTime]="all_leaves_start_date" [owlDateTimeTrigger]="all_leaves_start_date"  />
              <owl-date-time  [pickerType]="'calendar'" #all_leaves_start_date></owl-date-time>
              <div *ngIf="( approvedMissingAttendanceForm.get('start_date').hasError('minlength') || approvedMissingAttendanceForm.get('start_date').hasError('pattern') || approvedMissingAttendanceForm.get('start_date').hasError('required') ) && approvedMissingAttendanceForm.get('start_date').touched">
                <div class="error" *ngIf="(approvedMissingAttendanceForm.get('start_date').hasError('required') && approvedMissingAttendanceForm.get('start_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 alc">
            <div class="form-group">
            <!--   <label style="color:#757575; display: inline-block; font-weight: 400;">End Date<sup style="color:red;">*</sup></label> -->
              <input name="endDate" type='text' class="form-control d-inline" [(ngModel)]="approvedMissingAttendanceData.end_date" formControlName="end_date" required [class.error1]="!approvedMissingAttendanceForm.controls.end_date.valid && approvedMissingAttendanceForm.controls.end_date.dirty" [owlDateTime]="all_leaves_end_date" [owlDateTimeTrigger]="all_leaves_end_date"  />
              <owl-date-time  [pickerType]="'calendar'" #all_leaves_end_date></owl-date-time>
              <div *ngIf="( approvedMissingAttendanceForm.get('end_date').hasError('minlength') || approvedMissingAttendanceForm.get('end_date').hasError('pattern') || approvedMissingAttendanceForm.get('end_date').hasError('required') ) && approvedMissingAttendanceForm.get('end_date').touched">
                <div class="error" *ngIf="(approvedMissingAttendanceForm.get('end_date').hasError('required') && approvedMissingAttendanceForm.get('end_date').touched)">
                  This field is mandatory
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-2" >
            <button type="submit" class="btn bg-orange btn-flat btn-apply" [disabled]="approvedMissingAttendanceForm.invalid"><!-- <i class="fa fa-filter" aria-hidden="true"></i>  -->Apply</button>
          </div>
        </div>
      </div>
      </form>
    </section>
    <section class="content">
      <div class="">
        <div class="box-body">
          <div>
            <table datatable [dtOptions]="leaveTableOptions" [dtTrigger]="leaveTableTrigger" class="table table-striped table-hover" >
              <thead>
                <tr>
                  <th>User</th>
                  <th>Date</th>
                  <th>Punch</th>
                  <th>Reason</th>
                  <th>Approval Date</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of approved_missing_attendances_data">
                  <td>{{l.user_name}}</td>
                  <td>{{l.date}}</td>
                  <td>{{l.punch}}</td>
                  <td>{{l.reason}}</td>
                  <td>{{l.approved_on | date:'dd/MM/yyyy' | nullData}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
