<div class="wrapper">
<div class="content-wrapper">
<ol class="breadcrumb">
  <li><a [routerLink]="['/home/dashboard']"><i class="fa fa-dashboard"></i> My Dashboard</a></li>
  <li class="active">Salary Import</li>
</ol>
<section class="content-header">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label >Month<sup style="color:red;">*</sup></label>
        <select name="bnknm" class="form-control select2 building-select"  [(ngModel)]="salary_filter.selectedmonth" style="width: 100%;" required>
          <option  value="" disabled="">Select Month</option>
          <option *ngFor="let b of monthArray" value="{{b.id}}">{{b.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Year<sup style="color:red;">*</sup></label>
        <select name="endDate" class="form-control select2 building-select" [(ngModel)]="salary_filter.selectedyear" style="width: 100%;" required>
          <option  value="" disabled="">Select Year</option>
          <option *ngFor="let y of yearArray" value="{{y}}">{{y}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Import File<sup style="color:red;">*</sup></label>
        <input type="file" class="form-control" id="csv-file" name="files" ng-model="dataFile" />
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 25px;">
      <button type="submit" class="btn bg-orange btn-flat ladda-button" ladda="importLoader" data-style="expand-right" (click)="importCsv()">Import</button>
      <button type="button" class="btn bg-orange btn-flat ladda-button" (click)="resetCsv()">Reset</button>
    </div>
  </div>
</section>
<section class="content" *ngIf="canShowtable">
  <div class="row">
    <div class="box-body">
      <div class="">
        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="FailedTableOptions" [dtTrigger]="FailedTableTrigger">
          <thead>
            <tr>
              <th>User</th>
              <th>Message</th>
           </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of failedData">
              <td> {{l.user}}</td>
              <td> {{l.message}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="content"*ngIf="canShowtable">
  <div class="box-header with-border" style="background: green!important">
    <h4 class="box-title">
      <a data-toggle="collapse" style="cursor: pointer; color: #fff;">
        <h4 class="modal-title" id="H3">SUCCESS LIST</h4>
       </a>
    </h4>
 </div>
  <div class="row">
    <div class="box-body">
      <div class="">
        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="SuccessTableOptions" [dtTrigger]="SuccessTableTrigger">
          <thead>
            <tr>
              <th>User</th>
              <th>Message</th>
           </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of successData">
              <td> {{l.user}}</td>
              <td> {{l.message}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
